This notebook is to check whether or not Track the Recovery Data includes the requirements below. I'll be bringing in unfiltered datasets and filtering them and exporting them into their own csv files.  

__Data requirements__:
- Data includes:
    (1) SD Data
    (2) CA Data
    (3) US Country Level Data
    
__Link to datasets__: [link](https://github.com/OpportunityInsights/EconomicTracker/tree/main/data)
- DON'T include the Google Mobility Data or the data that isn't updated regularly

In [1]:
# try to automate the extraction from Github folder to the raw_data folder of Track the Recovery Folder
# can we start downloading these files onto the M drive in order to transfer these in the future?

In [2]:
# IMPORT STATEMENTS

import os
import pandas as pd
import datetime
from pandas._testing import assert_frame_equal

In [86]:
def sd_city(filename):
    '''Filters Economic Tracker city level data to only include San Diego County'''
    sd_fips_code = 6
    path = os.path.join('raw_data', filename)
    city = pd.read_csv(path)
    city = city[city['cityid'] == sd_fips_code]
    city = clean_df(city)
    if last_week_is_same(city, filename):
        city.to_csv('temp\{}'.format(filename), index = False)
        name_files(city, filename)
    else:
        raise ValueError('Last week\'s data not in the same format as this week\'s\n')

def sd_county(filename):
    '''Filters Economic Tracker county level data to only include San Diego County'''
    sd_fips_code = 6073
    path = os.path.join('raw_data', filename)
    county = pd.read_csv(path)
    county = county[county['countyfips'] == sd_fips_code]
    #not all csv files have unsorted dates, but this is in case they ever do 
    county = clean_df(county)
    if last_week_is_same(county, filename):
        county.to_csv('temp\{}'.format(filename), index = False)
        name_files(county, filename)
    else:
        raise ValueError('Last week\'s data not in the same format as this week\'s\n')
    
def state_ca(filename):
    '''Filters Economic Tracker state level data to only include California'''
    ca_fips_code = 6
    path = os.path.join('raw_data', filename)
    state = pd.read_csv(path)
    state = state[state['statefips'] == ca_fips_code]
    state = clean_df(state)
    if last_week_is_same(state, filename):
        state.to_csv('temp\{}'.format(filename), index = False)
        name_files(state, filename)
    else:
        raise ValueError('Last week\'s data not in the same format as this week\'s\n')

def us_national(filename):
    '''Moves Economic Tracker national level data to filtered_data folder'''
    path = os.path.join('raw_data', filename)
    us = pd.read_csv(path)
    us = clean_df(us)
    if last_week_is_same(us, filename):
        us.to_csv('temp\{}'.format(filename), index = False)
        name_files(us, filename)
    else:
        raise ValueError('Last week\'s data not in the same format as this week\'s\n')

In [87]:
def clean_df(df):
    if 'initial_claims' in df.columns:
        df['initial_claims'] = df['initial_claims'].astype(int)
    if'total_claims' in df.columns:
        df['total_claims'] = df['total_claims'].astype(int)
    if 'engagement' in df.columns:
        for i in df.columns:
            if df[i].dtype == object:
                df[i] = df[i].astype(float)
    if 'day_endofweek' in df.columns:
        df = df.rename(columns={"day_endofweek": "day"})
    df['date'] = pd.to_datetime(df[['year','month','day']])
    df = df.sort_values(by=['date'])
    if 'Daily' in filename and 'Womply' in filename:
        df = womply_daily_to_weekly(df)
    if 'Daily' in filename and 'Womply' not in filename:
        if 'Affinity' in filename:
            # the values before this date on the raw dataframes were blank
            df = df[df['date'] >= '2020-01-13 00:00:00']
        df = affinity_daily_to_weekly(df)
    if 'day_endofweek' in df.columns:
        df = df.rename(columns={"day": "day_endofweek"})
    df = df.drop(['date'], axis = 1)
    return df

In [88]:
def affinity_daily_to_weekly(df):
    '''Converts daily data to weekly data from Affinity to match SafeGraph weeks'''
    if 'cityid' in df.columns and 'spend_all' in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'cityid': 'last',
                    'spend_acf': 'last',
                    'spend_aer' : 'last',
                    'spend_all' : 'last',
                    'spend_apg' : 'last',
                    'spend_grf' : 'last',
                    'spend_hcs': 'last',
                    'spend_tws' : 'last',
                    'date' : 'last'
                   }
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'countyfips' in df.columns and 'spend_all' in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'countyfips': 'last',
                    'spend_all': 'last',
                    'date': 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'statefips' in df.columns and 'spend_all' in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'statefips': 'last',
                    'spend_acf': 'last',
                    'spend_aer' : 'last',
                    'spend_all' : 'last',
                    'spend_apg' : 'last',
                    'spend_grf' : 'last',
                    'spend_hcs': 'last',
                    'spend_tws' : 'last',
                    'spend_all_inchigh' : 'last',
                    'spend_all_inclow' : 'last',
                    'spend_all_incmiddle' : 'last',
                    'date' : 'last'
                   }
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'statefips' not in df.columns and 'countyfips' not in df.columns and 'cityid' not in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'spend_acf': 'last',
                    'spend_aer' : 'last',
                    'spend_all' : 'last',
                    'spend_apg' : 'last',
                    'spend_grf' : 'last',
                    'spend_hcs': 'last',
                    'spend_tws' : 'last',
                    'spend_all_inchigh' : 'last',
                    'spend_all_inclow' : 'last',
                    'spend_all_incmiddle' : 'last',
                    'date' : 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    if 'spend_all_inclow' in df.columns:
        df['spend_all_inclow'] = df['spend_all_inclow'].astype(float)
    else:
        print('New file converted from weekly to daily')

In [89]:
def womply_daily_to_weekly(df):
    '''Converts daily data to weekly data from Womply to match SafeGraph weeks'''
    if 'cityid' in df.columns and 'merchants_all' in df.columns:
        for column_name in df.columns:
            if 'merchants' in column_name:
                df[column_name] = df[column_name].astype(float)       
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'cityid': 'last',
                    'merchants_all': 'last',
                    'merchants_ss40' : 'last',
                    #'merchants_ss60' : 'last',
                    'merchants_ss65' : 'last',
                    'merchants_ss70' : 'last',
                    'date': 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'countyfips' in df.columns and 'merchants_all' in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'countyfips': 'last',
                    'merchants_all': 'last',
                    'date': 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'statefips' in df.columns and 'merchants_all' in df.columns:
        agg_dict = {'year' : 'last',
                    'month' : 'last',
                    'day' : 'last',
                    'statefips' : 'last',
                    'merchants_all' : 'last',
                    'merchants_inchigh' : 'last',
                    'merchants_inclow' : 'last',
                    'merchants_incmiddle' : 'last',
                    'merchants_ss40' : 'last',
                    #'merchants_ss60' : 'last',
                    'merchants_ss65' : 'last',
                    'merchants_ss70' : 'last',
                    'date' : 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'statefips' not in df.columns and 'countyfips' not in df.columns and 'merchants_all' in df.columns:
        agg_dict = {'year' : 'last',
                    'month' : 'last',
                    'day' : 'last',
                    'merchants_all' : 'last',
                    'merchants_inchigh' : 'last',
                    'merchants_inclow' : 'last',
                    'merchants_incmiddle' : 'last',
                    'merchants_ss40' : 'last',
                    #'merchants_ss60' : 'last',
                    'merchants_ss65' : 'last',
                    'merchants_ss70' : 'last',
                    'date' : 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'cityid' in df.columns and 'revenue_all' in df.columns:
        for column_name in df.columns:
            if 'revenue' in column_name:
                df[column_name] = df[column_name].astype(float)
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'cityid': 'last',
                    'revenue_all': 'last',
                    'revenue_ss40' : 'last',
                    #'revenue_ss60' : 'last',
                    'revenue_ss65' : 'last',
                    'revenue_ss70' : 'last',
                    'date': 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'countyfips' in df.columns and 'revenue_all' in df.columns:
        agg_dict = {'year': 'last',
                    'month': 'last',
                    'day': 'last',
                    'countyfips': 'last',
                    'revenue_all': 'last',
                    'date': 'last'}
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    elif 'statefips' in df.columns and 'revenue_all' in df.columns:
        agg_dict = {'year' : 'last',
                    'month' : 'last',
                    'day' : 'last',
                    'statefips' : 'last',
                    'revenue_all' : 'last',
                    'revenue_inchigh' : 'last',
                    'revenue_inclow' : 'last',
                    'revenue_incmiddle' : 'last',
                    'revenue_ss40' : 'last',
                   # 'revenue_ss60' : 'last',
                    'revenue_ss65' : 'last',
                    'revenue_ss70' : 'last',
                    'date' : 'last'
                   }
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df
    else:
        agg_dict = {'year' : 'last',
                    'month' : 'last',
                    'day' : 'last',
                    'revenue_all' : 'last',
                    'revenue_inchigh' : 'last',
                    'revenue_inclow' : 'last',
                    'revenue_incmiddle' : 'last',
                    'revenue_ss40' : 'last',
                   # 'revenue_ss60' : 'last',
                    'revenue_ss65' : 'last',
                    'revenue_ss70' : 'last',
                    'date' : 'last'
                   }
        df = df.resample('W-Mon', on = 'date').agg(agg_dict)
        df = df[df['date'] <= ('2020-08-03 00:00:00')].reset_index(drop=True) #UPDATE
        return df

In [90]:
def name_files(df, filename):
    '''This function takes a DataFrame and converts it into a unique csv with a unique name'''
    if 'Affinity' in filename:
        filename = filename.replace('Affinity', 'Consumer Spending')
    if 'Burning Glass' in filename:
        filename = filename.replace('Burning Glass', 'Job Postings')
    if 'UI Claims' in filename:
        filename = filename.replace('UI Claims', 'Unemployment Claims')
    if 'Womply Merchants' in filename:
        filename = filename.replace('Womply Merchants', 'Small Businesses Open')
    if 'Womply Revenue' in filename:
        filename = filename.replace('Womply Revenue', 'Small Businesses Revenue')
    if 'Zearn' in filename:
        filename = filename.replace('Zearn', 'Online Math Learning')
    if 'Daily' in filename:
        filename = filename.replace('Daily', 'Weekly')
    df.to_csv('filtered_data\{}'.format(filename), index = False)

In [120]:
def compare_rows(col1, col2):
    combined_df = pd.DataFrame({'new_col': col1, 'old_col': col2})
    combined_df['difference'] = (-0.01 <= combined_df['new_col'] - combined_df['old_col']) & (combined_df['new_col'] - combined_df['old_col'] <= 0.01) 
    print(combined_df)
    if False in list(combined_df['difference']):
        print(df)
        raise ValueError("Larger than 0.01 difference between columns")

In [121]:
def last_week_is_same(df, filename):
    
    path = os.path.join('temp', filename)
    last_week_df = pd.read_csv(path)
    last_week_size = len(last_week_df)
    
    for i in df.columns:
        if df[i].dtype == 'int32':
            df[i] = df[i].astype('int64')
        if df[i].dtype == 'object':
            df[i] = df[i].astype('float64')
            
    for i in df.columns:
        if False in list(df.columns == last_week_df.columns):
            raise ValueError("The columns have changed")
        else:
            try:
                compare_rows(df.reset_index(drop = True).iloc[:last_week_size][i], last_week_df.iloc[:last_week_size][i])
                #assert_frame_equal(df.reset_index(drop = True).iloc[:last_week_size-1], last_week_df.iloc[:last_week_size-1])
                #df.to_csv('temp\{}'.format(filename), index = False)
                #return True
            except:
    #         df.to_csv('temp\{}'.format(filename), index = False)
    #         print('This week\'s')
    #         print(df.reset_index(drop = True).iloc[:last_week_size-1])
    #         print('Last week\'s')
    #         print(last_week_df.iloc[:last_week_size-1])
                return False
    
    return True

In [122]:
count = 0
for filename in os.listdir('raw_data'):
    print(os.path.join('raw_data', filename))
    count += 1 
    
    if 'City' in filename:
        sd_city(filename)
    if 'County' in filename:
        sd_county(filename)
    elif 'State' in filename:
        state_ca(filename)
    elif 'National' in filename:
        us_national(filename)
        
print(count)

raw_data\.ipynb_checkpoints
raw_data\Affinity - City - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        2        2        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
    new_col  old_col  difference
0    0.0214   0.0214        True
1    0.0124   0.0124        True
2   -0.0121  -0.0121        True
3   -0.0115  -0.0115        True
4   -0.0591  -0.0591        True
5   -0.0358  -0.0358        True
6   -0.0102  -0.0102        True
7   -0.0464  -0.0464        True
8   -0.1070  -0.1070        True
9   -0.2410  -0.2410        True
10  -0.6370  -0.6370        True
11  -0.7250  -0.7250        True
12  -0.7200  -0.7200        True
13  -0.7090  -0.7090        True
14  -0.6960  -0.6960        True
15  -0.6960  -0.6960        True
16  -0.6670  -0.6670        True
17  -0.6210  -0.6210        True
18  -0.6260  -0.6260        True
19  -0.5890  -0.5890        True
20  -0.5400  -0.5400        True
21  -0.4930  -0.4930        True
22  -0.4540  -0.4540        True
23  -0.4360  -0.4360        True
24  -0.4150  -0.4150        True
25  -0.4560  -0.4560        True
26  -0.4430  -0.4430        True
27  -0.4310  -0.4310        True
28  -0.4260  -0.4260        True
29  -0.3910  -0.3910        True
    new_col  old_col  difference
0    0.0223   0.0223        True
1    0.0516   0.0516        True
2   -0.0608  -0.0608        True
3    0.0297   0.0297        True
4    0.0515   0.0515        True
5   -0.0771  -0.0771        True
6    0.0284   0.0284        True
7   -0.2270  -0.2270        True
8   -0.1540  -0.1540        True
9   -0.3660  -0.3660        True
10  -0.6110  -0.6110        True
11  -0.7490  -0.7490        True
12  -0.7690  -0.7690        True
13  -0.8000  -0.8000        True
14  -0.7710  -0.7710        True
15  -0.8310  -0.8310        True
16  -0.7750  -0.7750        True
17  -0.7690  -0.7690        True
18  -0.6420  -0.6420        True
19  -0.7230  -0.7230        True
20  -0.6440  -0.6440        True
21  -0.7010  -0.7010        True
22  -0.6240  -0.6240        True
23  -0.5860  -0.5860        True
24  -0.6010  -0.6010        True
25  -0.5640  -0.5640        True
26  -0.6480  -0.6480        True
27  -0.7010  -0.7010        True
28  -0.6370  -0.6370        True
29  -0.6500  -0.6500        True
    new_col  old_col  difference
0   0.00430  0.00430        True
1   0.02270  0.02270        True
2  -0.00206 -0.00206        True
3  -0.02290 -0.02290        True
4  -0.00151 -0.00151        True
5  -0.01020 -0.01020        True
6   0.01270  0.01270        True
7  -0.02260 -0.02260        True
8  -0.04760 -0.04760        True
9  -0.03340 -0.03340        True
10 -0.27300 -0.27300        True
11 -0.40400 -0.40400        True
12 -0.36500 -0.36500        True
13 -0.41300 -0.41300        True
14 -0.35700 -0.35700        True
15 -0.33600 -0.33600        True
16 -0.29900 -0.29900        True
17 -0.28500 -0.28500        True
18 -0.25100 -0.25100        True
19 -0.25700 -0.25700        True
20 -0.24500 -0.24500        True
21 -0.21300 -0.21300        True
22 -0.18000 -0.18000        True
23 -0.13600 -0.13600        True
24 -0.17400 -0.17400        True
25 -0.13800 -0.13800        True
26 -0.15700 -0.15700        True
27 -0.13200 -0.13200        True
28 -0.14600 -0.14600        True
29 -0.15000 -0.15000        True
    new_col  old_col  difference
0   0.00967  0.00967        True
1   0.01190  0.01190        True
2  -0.05870 -0.05870        True
3   0.02750  0.02750        True
4  -0.03510 -0.03510        True
5   0.06340  0.06340        True
6   0.05050  0.05050        True
7  -0.00221 -0.00221        True
8  -0.08220 -0.08220        True
9  -0.16200 -0.16200        True
10 -0.55300 -0.55300        True
11 -0.58900 -0.58900        True
12 -0.54900 -0.54900        True
13 -0.56900 -0.56900        True
14 -0.52800 -0.52800        True
15 -0.46300 -0.46300        True
16 -0.44100 -0.44100        True
17 -0.45000 -0.45000        True
18 -0.40900 -0.40900        True
19 -0.46000 -0.46000        True
20 -0.37800 -0.37800        True
21 -0.31100 -0.31100        True
22 -0.21500 -0.21500        True
23 -0.15700 -0.15700        True
24 -0.19300 -0.19300        True
25 -0.19800 -0.19800        True
26 -0.20100 -0.20100        True
27 -0.23400 -0.23400        True
28 -0.20100 -0.20100        True
29 -0.21200 -0.21200        True
    new_col  old_col  difference
0   0.01750  0.01750        True
1  -0.02050 -0.02050        True
2  -0.01340 -0.01340        True
3  -0.01450 -0.01450        True
4   0.01230  0.01230        True
5   0.04070  0.04070        True
6  -0.00512 -0.00512        True
7   0.12100  0.12100        True
8   0.20100  0.20100        True
9   0.90400  0.90400        True
10  0.31000  0.31000        True
11  0.08020  0.08020        True
12  0.17100  0.17100        True
13  0.08260  0.08260        True
14  0.00978  0.00978        True
15  0.20600  0.20600        True
16  0.16700  0.16700        True
17  0.13600  0.13600        True
18  0.22600  0.22600        True
19  0.10700  0.10700        True
20  0.08720  0.08720        True
21  0.11900  0.11900        True
22  0.06680  0.06680        True
23  0.21000  0.21000        True
24  0.13000  0.13000        True
25  0.11700  0.11700        True
26  0.15500  0.15500        True
27  0.16700  0.16700        True
28  0.12900  0.12900        True
29  0.16300  0.16300        True
     new_col   old_col  difference
0  -0.092200 -0.092200        True
1   0.055500  0.055500        True
2  -0.000958 -0.000958        True
3   0.027000  0.027000        True
4   0.030000  0.030000        True
5  -0.033700 -0.033700        True
6  -0.082500 -0.082500        True
7  -0.039900 -0.039900        True
8   0.054400  0.054400        True
9  -0.089000 -0.089000        True
10 -0.487000 -0.487000        True
11 -0.573000 -0.573000        True
12 -0.544000 -0.544000        True
13 -0.551000 -0.551000        True
14 -0.554000 -0.554000        True
15 -0.574000 -0.574000        True
16 -0.529000 -0.529000        True
17 -0.475000 -0.475000        True
18 -0.315000 -0.315000        True
19 -0.297000 -0.297000        True
20 -0.268000 -0.268000        True
21 -0.184000 -0.184000        True
22 -0.068400 -0.068400        True
23 -0.132000 -0.132000        True
24 -0.156000 -0.156000        True
25 -0.109000 -0.109000        True
26 -0.203000 -0.203000        True
27 -0.106000 -0.106000        True
28 -0.190000 -0.190000        True
29 -0.170000 -0.170000        True
    new_col  old_col  difference
0   0.02430  0.02430        True
1   0.02900  0.02900        True
2  -0.01500 -0.01500        True
3  -0.04430 -0.04430        True
4  -0.08320 -0.08320        True
5   0.00581  0.00581        True
6  -0.04110 -0.04110        True
7  -0.16500 -0.16500        True
8  -0.13900 -0.13900        True
9  -0.35900 -0.35900        True
10 -0.61600 -0.61600        True
11 -0.74900 -0.74900        True
12 -0.73300 -0.73300        True
13 -0.79200 -0.79200        True
14 -0.75100 -0.75100        True
15 -0.74200 -0.74200        True
16 -0.69000 -0.69000        True
17 -0.69700 -0.69700        True
18 -0.66900 -0.66900        True
19 -0.60900 -0.60900        True
20 -0.61800 -0.61800        True
21 -0.58700 -0.58700        True
22 -0.54900 -0.54900        True
23 -0.55000 -0.55000        True
24 -0.55200 -0.55200        True
25 -0.52400 -0.52400        True
26 -0.56900 -0.56900        True
27 -0.56800 -0.56800        True
28 -0.56700 -0.56700        True
29 -0.55900 -0.55900        True
raw_data\Affinity - County - Daily.csv

C:\Users\spate\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        2        2        True
    new_col  old_col  difference
0      6073     6073        True
1      6073     6073        True
2      6073     6073        True
3      6073     6073        True
4      6073     6073        True
5      6073     6073        True
6      6073     6073        True
7      6073     6073        True
8      6073     6073        True
9      6073     6073        True
10     6073     6073        True
11     6073     6073        True
12     6073     6073        True
13     6073     6073        True
14     6073     6073        True
15     6073     6073        True
16     6073     6073        True
17     6073     6073        True
18     6073     6073        True
19     6073     6073        True
20     6073     6073        True
21     6073     6073        True
22     6073     6073        True
23     6073     6073        True
24     6073     6073        True
25     6073     6073        True
26     6073     6073        True
27     6073     6073        True
28     6073     6073        True
29     6073     6073        True
    new_col  old_col  difference
0   0.00430  0.00430        True
1   0.02270  0.02270        True
2  -0.00206 -0.00206        True
3  -0.02290 -0.02290        True
4  -0.00151 -0.00151        True
5  -0.01020 -0.01020        True
6   0.01270  0.01270        True
7  -0.02260 -0.02260        True
8  -0.04760 -0.04760        True
9  -0.03340 -0.03340        True
10 -0.27300 -0.27300        True
11 -0.40400 -0.40400        True
12 -0.36500 -0.36500        True
13 -0.41300 -0.41300        True
14 -0.35700 -0.35700        True
15 -0.33600 -0.33600        True
16 -0.29900 -0.29900        True
17 -0.28500 -0.28500        True
18 -0.25100 -0.25100        True
19 -0.25700 -0.25700        True
20 -0.24500 -0.24500        True
21 -0.21300 -0.21300        True
22 -0.18000 -0.18000        True
23 -0.13600 -0.13600        True
24 -0.17400 -0.17400        True
25 -0.13800 -0.13800        True
26 -0.15700 -0.15700        True
27 -0.13200 -0.13200        True
28 -0.14600 -0.14600        True
29 -0.15000 -0.15000        True
raw_data\Affinity - National - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        2        2        True
    new_col  old_col  difference
0  -0.00575 -0.00575        True
1   0.00271  0.00271        True
2  -0.00397 -0.00397        True
3   0.00811  0.00811        True
4  -0.02790 -0.02790        True
5  -0.02230 -0.02230        True
6  -0.00871 -0.00871        True
7  -0.03250 -0.03250        True
8  -0.06140 -0.06140        True
9  -0.21500 -0.21500        True
10 -0.59600 -0.59600        True
11 -0.66500 -0.66500        True
12 -0.65500 -0.65500        True
13 -0.64200 -0.64200        True
14 -0.58500 -0.58500        True
15 -0.58200 -0.58200        True
16 -0.54400 -0.54400        True
17 -0.50700 -0.50700        True
18 -0.48600 -0.48600        True
19 -0.44800 -0.44800        True
20 -0.40800 -0.40800        True
21 -0.39300 -0.39300        True
22 -0.36100 -0.36100        True
23 -0.32300 -0.32300        True
24 -0.34800 -0.34800        True
25 -0.35500 -0.35500        True
26 -0.32700 -0.32700        True
27 -0.32700 -0.32700        True
28 -0.31300 -0.31300        True
29 -0.29400 -0.29400        True
    new_col  old_col  difference
0   0.00203  0.00203        True
1   0.04450  0.04450        True
2   0.00731  0.00731        True
3  -0.00284 -0.00284        True
4   0.02140  0.02140        True
5   0.02290  0.02290        True
6  -0.02630 -0.02630        True
7  -0.09320 -0.09320        True
8  -0.11200 -0.11200        True
9  -0.36300 -0.36300        True
10 -0.61400 -0.61400        True
11 -0.73000 -0.73000        True
12 -0.71200 -0.71200        True
13 -0.72900 -0.72900        True
14 -0.69300 -0.69300        True
15 -0.73600 -0.73600        True
16 -0.68200 -0.68200        True
17 -0.64500 -0.64500        True
18 -0.59100 -0.59100        True
19 -0.60400 -0.60400        True
20 -0.56900 -0.56900        True
21 -0.49500 -0.49500        True
22 -0.51600 -0.51600        True
23 -0.44600 -0.44600        True
24 -0.51200 -0.51200        True
25 -0.50500 -0.50500        True
26 -0.49400 -0.49400        True
27 -0.53200 -0.53200        True
28 -0.50300 -0.50300        True
29 -0.51300 -0.51300        True
     new_col   old_col  difference
0  -0.000618 -0.000618        True
1   0.007950  0.007950        True
2  -0.004720 -0.004720        True
3  -0.002050 -0.002050        True
4  -0.000166 -0.000166        True
5   0.006180  0.006180        True
6  -0.003670 -0.003670        True
7  -0.013100 -0.013100        True
8  -0.005520 -0.005520        True
9  -0.006390 -0.006390        True
10 -0.207000 -0.207000        True
11 -0.333000 -0.333000        True
12 -0.296000 -0.296000        True
13 -0.324000 -0.324000        True
14 -0.231000 -0.231000        True
15 -0.221000 -0.221000        True
16 -0.178000 -0.178000        True
17 -0.172000 -0.172000        True
18 -0.142000 -0.142000        True
19 -0.134000 -0.134000        True
20 -0.127000 -0.127000        True
21 -0.097800 -0.097800        True
22 -0.099000 -0.099000        True
23 -0.049700 -0.049700        True
24 -0.107000 -0.107000        True
25 -0.058600 -0.058600        True
26 -0.065800 -0.065800        True
27 -0.064900 -0.064900        True
28 -0.063300 -0.063300        True
29 -0.080400 -0.080400        True
    new_col  old_col  difference
0  -0.00318 -0.00318        True
1  -0.01180 -0.01180        True
2  -0.00420 -0.00420        True
3   0.01560  0.01560        True
4  -0.01860 -0.01860        True
5  -0.00777 -0.00777        True
6  -0.01480 -0.01480        True
7  -0.01150 -0.01150        True
8  -0.01970 -0.01970        True
9  -0.13000 -0.13000        True
10 -0.45600 -0.45600        True
11 -0.52100 -0.52100        True
12 -0.46300 -0.46300        True
13 -0.46100 -0.46100        True
14 -0.38200 -0.38200        True
15 -0.33800 -0.33800        True
16 -0.30100 -0.30100        True
17 -0.28900 -0.28900        True
18 -0.20600 -0.20600        True
19 -0.21500 -0.21500        True
20 -0.18600 -0.18600        True
21 -0.15600 -0.15600        True
22 -0.10900 -0.10900        True
23 -0.01000 -0.01000        True
24 -0.05420 -0.05420        True
25 -0.05130 -0.05130        True
26 -0.04660 -0.04660        True
27 -0.07760 -0.07760        True
28 -0.07770 -0.07770        True
29 -0.10700 -0.10700        True
    new_col  old_col  difference
0   0.00308  0.00308        True
1  -0.01280 -0.01280        True
2  -0.01880 -0.01880        True
3  -0.00823 -0.00823        True
4   0.03280  0.03280        True
5   0.02440  0.02440        True
6  -0.01760 -0.01760        True
7   0.07480  0.07480        True
8   0.14800  0.14800        True
9   0.65400  0.65400        True
10  0.37300  0.37300        True
11  0.07240  0.07240        True
12  0.15700  0.15700        True
13  0.09610  0.09610        True
14  0.05120  0.05120        True
15  0.24000  0.24000        True
16  0.19700  0.19700        True
17  0.13200  0.13200        True
18  0.18300  0.18300        True
19  0.10200  0.10200        True
20  0.09440  0.09440        True
21  0.11200  0.11200        True
22  0.06550  0.06550        True
23  0.17400  0.17400        True
24  0.06710  0.06710        True
25  0.08890  0.08890        True
26  0.10800  0.10800        True
27  0.12500  0.12500        True
28  0.11800  0.11800        True
29  0.09710  0.09710        True
    new_col  old_col  difference
0  -0.00957 -0.00957        True
1   0.01420  0.01420        True
2   0.00181  0.00181        True
3  -0.00111 -0.00111        True
4   0.00845  0.00845        True
5  -0.00115 -0.00115        True
6  -0.00735 -0.00735        True
7  -0.02190 -0.02190        True
8  -0.01980 -0.01980        True
9  -0.09140 -0.09140        True
10 -0.38800 -0.38800        True
11 -0.55100 -0.55100        True
12 -0.54000 -0.54000        True
13 -0.57300 -0.57300        True
14 -0.46800 -0.46800        True
15 -0.52100 -0.52100        True
16 -0.46300 -0.46300        True
17 -0.38900 -0.38900        True
18 -0.29800 -0.29800        True
19 -0.22900 -0.22900        True
20 -0.22000 -0.22000        True
21 -0.17200 -0.17200        True
22 -0.14600 -0.14600        True
23 -0.13100 -0.13100        True
24 -0.14500 -0.14500        True
25  0.01040  0.01040        True
26 -0.12200 -0.12200        True
27 -0.10300 -0.10300        True
28 -0.09840 -0.09840        True
29 -0.10200 -0.10200        True
    new_col  old_col  difference
0   0.01050  0.01050        True
1   0.01180  0.01180        True
2  -0.01030 -0.01030        True
3  -0.00719 -0.00719        True
4  -0.04700 -0.04700        True
5  -0.03200 -0.03200        True
6  -0.06570 -0.06570        True
7  -0.14700 -0.14700        True
8  -0.17300 -0.17300        True
9  -0.30300 -0.30300        True
10 -0.57300 -0.57300        True
11 -0.69200 -0.69200        True
12 -0.68000 -0.68000        True
13 -0.72800 -0.72800        True
14 -0.69400 -0.69400        True
15 -0.69200 -0.69200        True
16 -0.64500 -0.64500        True
17 -0.64200 -0.64200        True
18 -0.63100 -0.63100        True
19 -0.58700 -0.58700        True
20 -0.56300 -0.56300        True
21 -0.52800 -0.52800        True
22 -0.50200 -0.50200        True
23 -0.48700 -0.48700        True
24 -0.49200 -0.49200        True
25 -0.46900 -0.46900        True
26 -0.49600 -0.49600        True
27 -0.50500 -0.50500        True
28 -0.49100 -0.49100        True
29 -0.48000 -0.48000        True
     new_col   old_col  difference
0  -0.000089 -0.000089        True
1   0.008740  0.008740        True
2  -0.004420 -0.004420        True
3  -0.003730 -0.003730        True
4   0.001550  0.001550        True
5   0.010700  0.010700        True
6   0.010900  0.010900        True
7  -0.009840 -0.009840        True
8  -0.013000 -0.013000        True
9  -0.017300 -0.017300        True
10 -0.249000 -0.249000        True
11 -0.368000 -0.368000        True
12 -0.341000 -0.341000        True
13 -0.362000 -0.362000        True
14 -0.313000 -0.313000        True
15 -0.284000 -0.284000        True
16 -0.244000 -0.244000        True
17 -0.237000 -0.237000        True
18 -0.202000 -0.202000        True
19 -0.196000 -0.196000        True
20 -0.185000 -0.185000        True
21 -0.158000 -0.158000        True
22 -0.146000 -0.146000        True
23 -0.099600 -0.099600        True
24 -0.145000 -0.145000        True
25 -0.100000 -0.100000        True
26 -0.099800 -0.099800        True
27 -0.098600 -0.098600        True
28 -0.099200 -0.099200        True
29 -0.115000 -0.115000        True
    new_col  old_col  difference
0   0.00166  0.00166        True
1   0.01420  0.01420        True
2  -0.00738 -0.00738        True
3  -0.00522 -0.00522        True
4  -0.00369 -0.00369        True
5  -0.00703 -0.00703        True
6  -0.03570 -0.03570        True
7  -0.02600 -0.02600        True
8   0.00761  0.00761        True
9  -0.00389 -0.00389        True
10 -0.16800 -0.16800        True
11 -0.29900 -0.29900        True
12 -0.24200 -0.24200        True
13 -0.28200 -0.28200        True
14 -0.12800 -0.12800        True
15 -0.14700 -0.14700        True
16 -0.09730 -0.09730        True
17 -0.09490 -0.09490        True
18 -0.06510 -0.06510        True
19 -0.06050 -0.06050        True
20 -0.05290 -0.05290        True
21 -0.02570 -0.02570        True
22 -0.03790 -0.03790        True
23  0.01090  0.01090        True
24 -0.06290 -0.06290        True
25 -0.00410 -0.00410        True
26 -0.01890 -0.01890        True
27 -0.01970 -0.01970        True
28 -0.02100 -0.02100        True
29 -0.04220 -0.04220        True
     new_col   old_col  difference
0  -0.001690 -0.001690        True
1   0.005820  0.005820        True
2  -0.004040 -0.004040        True
3  -0.000395 -0.000395        True
4  -0.000797 -0.000797        True
5   0.006610  0.006610        True
6  -0.003970 -0.003970        True
7  -0.012000 -0.012000        True
8  -0.004950 -0.004950        True
9  -0.000173 -0.000173        True
10 -0.191000 -0.191000        True
11 -0.321000 -0.321000        True
12 -0.282000 -0.282000        True
13 -0.310000 -0.310000        True
14 -0.207000 -0.207000        True
15 -0.200000 -0.200000        True
16 -0.157000 -0.157000        True
17 -0.151000 -0.151000        True
18 -0.124000 -0.124000        True
19 -0.114000 -0.114000        True
20 -0.110000 -0.110000        True
21 -0.078500 -0.078500        True
22 -0.085500 -0.085500        True
23 -0.033800 -0.033800        True
24 -0.094800 -0.094800        True
25 -0.047700 -0.047700        True
26 -0.057600 -0.057600        True
27 -0.056400 -0.056400        True
28 -0.052200 -0.052200        True
29 -0.069200 -0.069200        True
raw_data\Affinity - State - Daily.csv

    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        2        2        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
    new_col  old_col  difference
0   0.00178  0.00178        True
1   0.00551  0.00551        True
2  -0.01880 -0.01880        True
3   0.02090  0.02090        True
4  -0.02490 -0.02490        True
5   0.00519  0.00519        True
6   0.00603  0.00603        True
7  -0.01770 -0.01770        True
8  -0.09200 -0.09200        True
9  -0.23600 -0.23600        True
10 -0.63200 -0.63200        True
11 -0.70400 -0.70400        True
12 -0.71100 -0.71100        True
13 -0.69300 -0.69300        True
14 -0.68900 -0.68900        True
15 -0.67400 -0.67400        True
16 -0.65100 -0.65100        True
17 -0.62100 -0.62100        True
18 -0.62000 -0.62000        True
19 -0.60000 -0.60000        True
20 -0.54700 -0.54700        True
21 -0.52900 -0.52900        True
22 -0.47400 -0.47400        True
23 -0.43600 -0.43600        True
24 -0.44700 -0.44700        True
25 -0.46800 -0.46800        True
26 -0.44600 -0.44600        True
27 -0.45000 -0.45000        True
28 -0.43700 -0.43700        True
29 -0.41800 -0.41800        True
    new_col  old_col  difference
0   0.04200  0.04200        True
1  -0.00165 -0.00165        True
2   0.02380  0.02380        True
3  -0.01930 -0.01930        True
4   0.01450  0.01450        True
5   0.07610  0.07610        True
6   0.01680  0.01680        True
7  -0.12000 -0.12000        True
8  -0.10100 -0.10100        True
9  -0.39900 -0.39900        True
10 -0.60200 -0.60200        True
11 -0.73500 -0.73500        True
12 -0.74000 -0.74000        True
13 -0.75700 -0.75700        True
14 -0.75900 -0.75900        True
15 -0.80000 -0.80000        True
16 -0.73100 -0.73100        True
17 -0.71700 -0.71700        True
18 -0.64100 -0.64100        True
19 -0.72100 -0.72100        True
20 -0.61100 -0.61100        True
21 -0.61800 -0.61800        True
22 -0.65000 -0.65000        True
23 -0.53000 -0.53000        True
24 -0.59700 -0.59700        True
25 -0.59400 -0.59400        True
26 -0.60700 -0.60700        True
27 -0.65400 -0.65400        True
28 -0.59900 -0.59900        True
29 -0.65400 -0.65400        True
     new_col   old_col  difference
0   0.000388  0.000388        True
1   0.012100  0.012100        True
2  -0.002630 -0.002630        True
3  -0.002050 -0.002050        True
4   0.019100  0.019100        True
5   0.028200  0.028200        True
6   0.023300  0.023300        True
7   0.012900  0.012900        True
8  -0.012100 -0.012100        True
9  -0.021600 -0.021600        True
10 -0.266000 -0.266000        True
11 -0.369000 -0.369000        True
12 -0.347000 -0.347000        True
13 -0.374000 -0.374000        True
14 -0.343000 -0.343000        True
15 -0.317000 -0.317000        True
16 -0.283000 -0.283000        True
17 -0.279000 -0.279000        True
18 -0.250000 -0.250000        True
19 -0.250000 -0.250000        True
20 -0.230000 -0.230000        True
21 -0.217000 -0.217000        True
22 -0.195000 -0.195000        True
23 -0.142000 -0.142000        True
24 -0.182000 -0.182000        True
25 -0.135000 -0.135000        True
26 -0.134000 -0.134000        True
27 -0.129000 -0.129000        True
28 -0.137000 -0.137000        True
29 -0.151000 -0.151000        True
    new_col  old_col  difference
0   0.00197  0.00197        True
1  -0.00447 -0.00447        True
2  -0.02360 -0.02360        True
3   0.01840  0.01840        True
4  -0.02210 -0.02210        True
5   0.00366  0.00366        True
6  -0.00229 -0.00229        True
7   0.00301  0.00301        True
8  -0.06390 -0.06390        True
9  -0.16900 -0.16900        True
10 -0.52900 -0.52900        True
11 -0.56800 -0.56800        True
12 -0.52300 -0.52300        True
13 -0.54300 -0.54300        True
14 -0.50000 -0.50000        True
15 -0.48000 -0.48000        True
16 -0.43200 -0.43200        True
17 -0.43900 -0.43900        True
18 -0.38900 -0.38900        True
19 -0.44500 -0.44500        True
20 -0.39000 -0.39000        True
21 -0.36700 -0.36700        True
22 -0.25600 -0.25600        True
23 -0.15500 -0.15500        True
24 -0.15200 -0.15200        True
25 -0.17200 -0.17200        True
26 -0.16000 -0.16000        True
27 -0.20000 -0.20000        True
28 -0.21500 -0.21500        True
29 -0.21900 -0.21900        True
    new_col  old_col  difference
0   0.00484  0.00484        True
1  -0.01130 -0.01130        True
2  -0.01150 -0.01150        True
3  -0.00729 -0.00729        True
4   0.04850  0.04850        True
5   0.03530  0.03530        True
6   0.00337  0.00337        True
7   0.16500  0.16500        True
8   0.22100  0.22100        True
9   0.88700  0.88700        True
10  0.32700  0.32700        True
11  0.13300  0.13300        True
12  0.18300  0.18300        True
13  0.12100  0.12100        True
14  0.03710  0.03710        True
15  0.21400  0.21400        True
16  0.19000  0.19000        True
17  0.13000  0.13000        True
18  0.20600  0.20600        True
19  0.14500  0.14500        True
20  0.11100  0.11100        True
21  0.10500  0.10500        True
22  0.07910  0.07910        True
23  0.18700  0.18700        True
24  0.11100  0.11100        True
25  0.11200  0.11200        True
26  0.15200  0.15200        True
27  0.17600  0.17600        True
28  0.15600  0.15600        True
29  0.15000  0.15000        True
     new_col   old_col  difference
0  -0.024700 -0.024700        True
1   0.036800  0.036800        True
2   0.000681  0.000681        True
3  -0.005440 -0.005440        True
4   0.043200  0.043200        True
5   0.028200  0.028200        True
6  -0.000483 -0.000483        True
7  -0.015700 -0.015700        True
8   0.004120  0.004120        True
9  -0.107000 -0.107000        True
10 -0.460000 -0.460000        True
11 -0.585000 -0.585000        True
12 -0.551000 -0.551000        True
13 -0.586000 -0.586000        True
14 -0.560000 -0.560000        True
15 -0.569000 -0.569000        True
16 -0.543000 -0.543000        True
17 -0.473000 -0.473000        True
18 -0.392000 -0.392000        True
19 -0.321000 -0.321000        True
20 -0.290000 -0.290000        True
21 -0.235000 -0.235000        True
22 -0.178000 -0.178000        True
23 -0.159000 -0.159000        True
24 -0.160000 -0.160000        True
25 -0.005750 -0.005750        True
26 -0.131000 -0.131000        True
27 -0.121000 -0.121000        True
28 -0.125000 -0.125000        True
29 -0.110000 -0.110000        True
    new_col  old_col  difference
0   0.00485  0.00485        True
1   0.01180  0.01180        True
2   0.00820  0.00820        True
3   0.00294  0.00294        True
4  -0.00212 -0.00212        True
5   0.00198  0.00198        True
6  -0.02500 -0.02500        True
7  -0.15300 -0.15300        True
8  -0.12600 -0.12600        True
9  -0.33000 -0.33000        True
10 -0.63100 -0.63100        True
11 -0.74300 -0.74300        True
12 -0.71300 -0.71300        True
13 -0.77300 -0.77300        True
14 -0.74800 -0.74800        True
15 -0.73800 -0.73800        True
16 -0.68600 -0.68600        True
17 -0.69800 -0.69800        True
18 -0.69000 -0.69000        True
19 -0.63400 -0.63400        True
20 -0.63100 -0.63100        True
21 -0.58500 -0.58500        True
22 -0.57800 -0.57800        True
23 -0.56200 -0.56200        True
24 -0.55700 -0.55700        True
25 -0.54000 -0.54000        True
26 -0.56800 -0.56800        True
27 -0.57700 -0.57700        True
28 -0.56100 -0.56100        True
29 -0.55000 -0.55000        True
    new_col  old_col  difference
0   0.00303  0.00303        True
1   0.01460  0.01460        True
2  -0.00385 -0.00385        True
3  -0.00527 -0.00527        True
4   0.01400  0.01400        True
5   0.02630  0.02630        True
6   0.02580  0.02580        True
7   0.00999  0.00999        True
8  -0.01360 -0.01360        True
9  -0.02120 -0.02120        True
10 -0.28500 -0.28500        True
11 -0.37800 -0.37800        True
12 -0.36300 -0.36300        True
13 -0.38300 -0.38300        True
14 -0.36100 -0.36100        True
15 -0.33700 -0.33700        True
16 -0.30200 -0.30200        True
17 -0.29600 -0.29600        True
18 -0.26900 -0.26900        True
19 -0.26600 -0.26600        True
20 -0.24100 -0.24100        True
21 -0.23400 -0.23400        True
22 -0.20500 -0.20500        True
23 -0.15900 -0.15900        True
24 -0.19500 -0.19500        True
25 -0.14700 -0.14700        True
26 -0.14700 -0.14700        True
27 -0.14000 -0.14000        True
28 -0.14900 -0.14900        True
29 -0.16200 -0.16200        True
    new_col  old_col  difference
0  -0.00559 -0.00559        True
1   0.01530  0.01530        True
2  -0.00561 -0.00561        True
3  -0.00420 -0.00420        True
4   0.04670  0.04670        True
5   0.00198  0.00198        True
6  -0.00374 -0.00374        True
7   0.01680  0.01680        True
8  -0.01190 -0.01190        True
9  -0.04360 -0.04360        True
10 -0.22300 -0.22300        True
11 -0.35300 -0.35300        True
12 -0.31800 -0.31800        True
13 -0.38100 -0.38100        True
14 -0.33700 -0.33700        True
15 -0.29400 -0.29400        True
16 -0.24700 -0.24700        True
17 -0.25500 -0.25500        True
18 -0.22600 -0.22600        True
19 -0.23600 -0.23600        True
20 -0.23000 -0.23000        True
21 -0.18500 -0.18500        True
22 -0.19000 -0.19000        True
23 -0.12600 -0.12600        True
24 -0.15100 -0.15100        True
25 -0.11500 -0.11500        True
26 -0.13600 -0.13600        True
27 -0.10500 -0.10500        True
28 -0.11900 -0.11900        True
29 -0.12000 -0.12000        True
     new_col   old_col  difference
0  -0.003120 -0.003120        True
1   0.006940  0.006940        True
2  -0.000199 -0.000199        True
3   0.004290  0.004290        True
4   0.023700  0.023700        True
5   0.036500  0.036500        True
6   0.023600  0.023600        True
7   0.017400  0.017400        True
8  -0.009650 -0.009650        True
9  -0.018600 -0.018600        True
10 -0.241000 -0.241000        True
11 -0.355000 -0.355000        True
12 -0.322000 -0.322000        True
13 -0.357000 -0.357000        True
14 -0.311000 -0.311000        True
15 -0.287000 -0.287000        True
16 -0.256000 -0.256000        True
17 -0.254000 -0.254000        True
18 -0.219000 -0.219000        True
19 -0.224000 -0.224000        True
20 -0.209000 -0.209000        True
21 -0.190000 -0.190000        True
22 -0.180000 -0.180000        True
23 -0.112000 -0.112000        True
24 -0.164000 -0.164000        True
25 -0.117000 -0.117000        True
26 -0.114000 -0.114000        True
27 -0.115000 -0.115000        True
28 -0.121000 -0.121000        True
29 -0.138000 -0.138000        True
raw_data\Burning Glass - City - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
30     2020     2020        True
31     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         1        1        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        5        5        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        7        7        True
30        8        8        True
31        8        8        True
    new_col  old_col  difference
0        10       10        True
1        17       17        True
2        24       24        True
3        31       31        True
4         7        7        True
5        14       14        True
6        21       21        True
7        28       28        True
8         6        6        True
9        13       13        True
10       20       20        True
11       27       27        True
12        3        3        True
13       10       10        True
14       17       17        True
15       24       24        True
16        1        1        True
17        8        8        True
18       15       15        True
19       22       22        True
20       29       29        True
21        5        5        True
22       12       12        True
23       19       19        True
24       26       26        True
25        3        3        True
26       10       10        True
27       17       17        True
28       24       24        True
29       31       31        True
30        7        7        True
31       14       14        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
30        6        6        True
31        6        6        True
    new_col  old_col  difference
0   -0.1450  -0.1450        True
1    0.1780   0.1780        True
2   -0.1390  -0.1390        True
3    0.1060   0.1060        True
4   -0.1370  -0.1370        True
5    0.1150   0.1150        True
6   -0.0742  -0.0742        True
7    0.0017   0.0017        True
8   -0.1100  -0.1100        True
9    0.0622   0.0622        True
10   0.0582   0.0582        True
11  -0.0901  -0.0901        True
12  -0.3250  -0.3250        True
13  -0.4340  -0.4340        True
14  -0.5160  -0.5160        True
15  -0.4820  -0.4820        True
16  -0.4890  -0.4890        True
17  -0.4610  -0.4610        True
18  -0.4120  -0.4120        True
19  -0.3860  -0.3860        True
20  -0.4160  -0.4160        True
21  -0.1950  -0.1950        True
22  -0.2800  -0.2800        True
23  -0.2070  -0.2070        True
24  -0.0860  -0.0860        True
25  -0.2180  -0.2180        True
26  -0.4360  -0.4360        True
27  -0.2450  -0.2450        True
28  -0.3320  -0.3320        True
29  -0.3630  -0.3630        True
30  -0.2640  -0.2640        True
31  -0.4430  -0.4430        True

31  -0.4100  -0.4100        True
    new_col  old_col  difference
0   -0.1350  -0.1350        True
1    0.1300   0.1300        True
2   -0.1480  -0.1480        True
3    0.1540   0.1540        True
4   -0.1470  -0.1470        True
5    0.1200   0.1200        True
6   -0.0678  -0.0678        True
7   -0.0734  -0.0734        True
8   -0.0435  -0.0435        True
9   -0.0776  -0.0776        True
10  -0.0373  -0.0373        True
11  -0.1710  -0.1710        True
12  -0.2350  -0.2350        True
13  -0.3830  -0.3830        True
14  -0.3570  -0.3570        True
15  -0.4470  -0.4470        True
16  -0.4920  -0.4920        True
17  -0.4880  -0.4880        True
18  -0.4630  -0.4630        True
19  -0.4080  -0.4080        True
20  -0.4210  -0.4210        True
21  -0.2060  -0.2060        True
22  -0.2640  -0.2640        True
23  -0.2860  -0.2860        True
24  -0.1180  -0.1180        True
25  -0.2990  -0.2990        True
26  -0.4580  -0.4580        True
27  -0.3530  -0.3530        True
28  -0.3180  -0.3180        True
29  -0.3230  -0.3230        True
30  -0.2590  -0.2590        True
31  -0.5010  -0.5010        True
    new_col  old_col  difference
0  -0.13400 -0.13400        True
1   0.18400  0.18400        True
2  -0.04200 -0.04200        True
3  -0.00792 -0.00792        True
4  -0.12200 -0.12200        True
5   0.17400  0.17400        True
6   0.07390  0.07390        True
7   0.12800  0.12800        True
8  -0.02330 -0.02330        True
9  -0.02040 -0.02040        True
10  0.02940  0.02940        True
11 -0.09870 -0.09870        True
12 -0.19300 -0.19300        True
13 -0.26600 -0.26600        True
14 -0.31400 -0.31400        True
15 -0.39200 -0.39200        True
16 -0.37400 -0.37400        True
17 -0.38500 -0.38500        True
18 -0.33300 -0.33300        True
19 -0.26200 -0.26200        True
20 -0.36800 -0.36800        True
21 -0.07150 -0.07150        True
22 -0.19500 -0.19500        True
23 -0.21300 -0.21300        True
24 -0.01960 -0.01960        True
25 -0.14200 -0.14200        True
26 -0.21800 -0.21800        True
27 -0.12800 -0.12800        True
28 -0.13800 -0.13800        True
29 -0.09080 -0.09080        True
30 -0.12300 -0.12300        True
31 -0.34500 -0.34500        True
     new_col   old_col  difference
0  -0.003810 -0.003810        True
1   0.090600  0.090600        True
2  -0.028100 -0.028100        True
3  -0.058700 -0.058700        True
4  -0.092300 -0.092300        True
5   0.164000  0.164000        True
6  -0.067400 -0.067400        True
7   0.076800  0.076800        True
8   0.010000  0.010000        True
9  -0.000686 -0.000686        True
10 -0.068700 -0.068700        True
11 -0.415000 -0.415000        True
12 -0.635000 -0.635000        True
13 -0.620000 -0.620000        True
14 -0.458000 -0.458000        True
15 -0.618000 -0.618000        True
16 -0.531000 -0.531000        True
17 -0.572000 -0.572000        True
18 -0.563000 -0.563000        True
19 -0.480000 -0.480000        True
20 -0.352000 -0.352000        True
21 -0.229000 -0.229000        True
22 -0.258000 -0.258000        True
23 -0.092400 -0.092400        True
24  0.309000  0.309000        True
25 -0.383000 -0.383000        True
26 -0.297000 -0.297000        True
27 -0.302000 -0.302000        True
28 -0.387000 -0.387000        True
29 -0.290000 -0.290000        True
30 -0.285000 -0.285000        True
31 -0.541000 -0.541000        True
    new_col  old_col  difference
0    0.0473   0.0473        True
1    0.1000   0.1000        True
2   -0.0472  -0.0472        True
3   -0.1010  -0.1010        True
4   -0.0338  -0.0338        True
5    0.1770   0.1770        True
6   -0.0251  -0.0251        True
7    0.0602   0.0602        True
8    0.1020   0.1020        True
9    0.0589   0.0589        True
10   0.0876   0.0876        True
11  -0.2080  -0.2080        True
12  -0.4490  -0.4490        True
13  -0.4610  -0.4610        True
14  -0.2090  -0.2090        True
15  -0.5210  -0.5210        True
16  -0.3470  -0.3470        True
17  -0.3330  -0.3330        True
18  -0.3640  -0.3640        True
19  -0.2490  -0.2490        True
20  -0.1750  -0.1750        True
21   0.0679   0.0679        True
22  -0.1230  -0.1230        True
23   0.0559   0.0559        True
24   0.5580   0.5580        True
25  -0.2310  -0.2310        True
26  -0.0694  -0.0694        True
27  -0.1250  -0.1250        True
28  -0.1820  -0.1820        True
29  -0.0863  -0.0863        True
30   0.0209   0.0209        True
31  -0.3520  -0.3520        True
    new_col  old_col  difference
0  -0.01670 -0.01670        True
1   0.10300  0.10300        True
2  -0.06570 -0.06570        True
3  -0.02050 -0.02050        True
4  -0.09100 -0.09100        True
5   0.16500  0.16500        True
6   0.02430  0.02430        True
7   0.01200  0.01200        True
8   0.01490  0.01490        True
9  -0.02420 -0.02420        True
10  0.04860  0.04860        True
11 -0.10200 -0.10200        True
12 -0.26900 -0.26900        True
13 -0.34700 -0.34700        True
14 -0.23600 -0.23600        True
15 -0.41800 -0.41800        True
16 -0.31000 -0.31000        True
17 -0.31000 -0.31000        True
18 -0.33100 -0.33100        True
19 -0.26900 -0.26900        True
20 -0.22600 -0.22600        True
21  0.01040  0.01040        True
22 -0.05580 -0.05580        True
23 -0.00106 -0.00106        True
24  0.24800  0.24800        True
25 -0.02420 -0.02420        True
26 -0.01760 -0.01760        True
27 -0.03850 -0.03850        True
28 -0.06590 -0.06590        True
29 -0.00121 -0.00121        True
30  0.16100  0.16100        True
31 -0.24900 -0.24900        True
    new_col  old_col  difference
0  -0.02200 -0.02200        True
1   0.10300  0.10300        True
2  -0.06720 -0.06720        True
3  -0.01380 -0.01380        True
4  -0.09580 -0.09580        True
5   0.16400  0.16400        True
6   0.02840  0.02840        True
7   0.00793  0.00793        True
8   0.00766  0.00766        True
9  -0.03110 -0.03110        True
10  0.04540  0.04540        True
11 -0.09300 -0.09300        True
12 -0.25400 -0.25400        True
13 -0.33700 -0.33700        True
14 -0.23800 -0.23800        True
15 -0.41000 -0.41000        True
16 -0.30700 -0.30700        True
17 -0.30900 -0.30900        True
18 -0.32800 -0.32800        True
19 -0.27000 -0.27000        True
20 -0.23100 -0.23100        True
21  0.00560  0.00560        True
22 -0.05020 -0.05020        True
23 -0.00581 -0.00581        True
24  0.22200  0.22200        True
25 -0.00698 -0.00698        True
26 -0.01330 -0.01330        True
27 -0.03140 -0.03140        True
28 -0.05630 -0.05630        True
29  0.00588  0.00588        True
30  0.17300  0.17300        True
31 -0.24100 -0.24100        True
    new_col  old_col  difference
0  -0.08340 -0.08340        True
1   0.16300  0.16300        True
2  -0.07770 -0.07770        True
3  -0.00136 -0.00136        True
4  -0.11400 -0.11400        True
5   0.18500  0.18500        True
6   0.08960  0.08960        True
7   0.09530  0.09530        True
8  -0.03630 -0.03630        True
9   0.00708  0.00708        True
10  0.04140  0.04140        True
11 -0.10100 -0.10100        True
12 -0.21200 -0.21200        True
13 -0.28300 -0.28300        True
14 -0.33000 -0.33000        True
15 -0.41500 -0.41500        True
16 -0.36700 -0.36700        True
17 -0.40400 -0.40400        True
18 -0.35100 -0.35100        True
19 -0.29700 -0.29700        True
20 -0.32500 -0.32500        True
21 -0.10200 -0.10200        True
22 -0.15400 -0.15400        True
23 -0.12900 -0.12900        True
24  0.06700  0.06700        True
25 -0.16300 -0.16300        True
26 -0.24400 -0.24400        True
27 -0.10800 -0.10800        True
28 -0.12300 -0.12300        True
29 -0.10100 -0.10100        True
30 -0.08500 -0.08500        True
31 -0.34000 -0.34000        True
    new_col  old_col  difference
0  -0.08160 -0.08160        True
1   0.11000  0.11000        True
2  -0.08890 -0.08890        True
3   0.06100  0.06100        True
4  -0.11300 -0.11300        True
5   0.19600  0.19600        True
6   0.06140  0.06140        True
7   0.09220  0.09220        True
8  -0.01250 -0.01250        True
9   0.00447  0.00447        True
10  0.02510  0.02510        True
11 -0.08960 -0.08960        True
12 -0.18800 -0.18800        True
13 -0.28000 -0.28000        True
14 -0.32600 -0.32600        True
15 -0.37800 -0.37800        True
16 -0.38100 -0.38100        True
17 -0.40100 -0.40100        True
18 -0.38500 -0.38500        True
19 -0.34300 -0.34300        True
20 -0.36100 -0.36100        True
21 -0.13600 -0.13600        True
22 -0.21400 -0.21400        True
23 -0.20800 -0.20800        True
24 -0.04130 -0.04130        True
25 -0.20300 -0.20300        True
26 -0.34000 -0.34000        True
27 -0.22600 -0.22600        True
28 -0.24000 -0.24000        True
29 -0.22500 -0.22500        True
30 -0.19800 -0.19800        True
31 -0.42200 -0.42200        True
    new_col  old_col  difference
0  -0.06900 -0.06900        True
1   0.04810  0.04810        True
2  -0.10200 -0.10200        True
3   0.12300  0.12300        True
4  -0.10400 -0.10400        True
5   0.20300  0.20300        True
6   0.04150  0.04150        True
7   0.05060  0.05060        True
8   0.00464  0.00464        True
9   0.01650  0.01650        True
10  0.02080  0.02080        True
11 -0.07450 -0.07450        True
12 -0.17400 -0.17400        True
13 -0.29100 -0.29100        True
14 -0.34100 -0.34100        True
15 -0.36800 -0.36800        True
16 -0.40600 -0.40600        True
17 -0.41500 -0.41500        True
18 -0.43200 -0.43200        True
19 -0.39400 -0.39400        True
20 -0.37400 -0.37400        True
21 -0.17600 -0.17600        True
22 -0.24100 -0.24100        True
23 -0.25000 -0.25000        True
24 -0.10700 -0.10700        True
25 -0.26100 -0.26100        True
26 -0.42000 -0.42000        True
27 -0.32000 -0.32000        True
28 -0.32300 -0.32300        True
29 -0.31100 -0.31100        True
30 -0.25900 -0.25900        True
31 -0.47300 -0.47300        True
    new_col  old_col  difference
0  -0.11800 -0.11800        True
1   0.17800  0.17800        True
2  -0.07450 -0.07450        True
3   0.01490  0.01490        True
4  -0.14000 -0.14000        True
5   0.20300  0.20300        True
6   0.05560  0.05560        True
7   0.22100  0.22100        True
8  -0.00905 -0.00905        True
9  -0.04140 -0.04140        True
10 -0.00162 -0.00162        True
11 -0.11000 -0.11000        True
12 -0.17200 -0.17200        True
13 -0.23500 -0.23500        True
14 -0.26500 -0.26500        True
15 -0.32100 -0.32100        True
16 -0.33600 -0.33600        True
17 -0.34800 -0.34800        True
18 -0.32100 -0.32100        True
19 -0.29400 -0.29400        True
20 -0.41100 -0.41100        True
21 -0.09370 -0.09370        True
22 -0.27600 -0.27600        True
23 -0.26900 -0.26900        True
24 -0.09650 -0.09650        True
25 -0.11300 -0.11300        True
26 -0.31700 -0.31700        True
27 -0.21700 -0.21700        True
28 -0.26000 -0.26000        True
29 -0.25700 -0.25700        True
30 -0.28200 -0.28200        True
31 -0.46000 -0.46000        True
raw_data\Burning Glass - State - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
30     2020     2020        True
31     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         1        1        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        5        5        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        7        7        True
30        8        8        True
31        8        8        True
    new_col  old_col  difference
0        10       10        True
1        17       17        True
2        24       24        True
3        31       31        True
4         7        7        True
5        14       14        True
6        21       21        True
7        28       28        True
8         6        6        True
9        13       13        True
10       20       20        True
11       27       27        True
12        3        3        True
13       10       10        True
14       17       17        True
15       24       24        True
16        1        1        True
17        8        8        True
18       15       15        True
19       22       22        True
20       29       29        True
21        5        5        True
22       12       12        True
23       19       19        True
24       26       26        True
25        3        3        True
26       10       10        True
27       17       17        True
28       24       24        True
29       31       31        True
30        7        7        True
31       14       14        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
30        6        6        True
31        6        6        True
    new_col  old_col  difference
0  -0.09340 -0.09340        True
1   0.14700  0.14700        True
2  -0.18400 -0.18400        True
3   0.13000  0.13000        True
4  -0.11500 -0.11500        True
5   0.21500  0.21500        True
6   0.00542  0.00542        True
7   0.10200  0.10200        True
8  -0.04230 -0.04230        True
9   0.08590  0.08590        True
10  0.16300  0.16300        True
11 -0.04310 -0.04310        True
12 -0.21500 -0.21500        True
13 -0.29200 -0.29200        True
14 -0.36500 -0.36500        True
15 -0.39600 -0.39600        True
16 -0.40200 -0.40200        True
17 -0.39600 -0.39600        True
18 -0.33900 -0.33900        True
19 -0.34000 -0.34000        True
20 -0.33600 -0.33600        True
21 -0.11100 -0.11100        True
22 -0.19500 -0.19500        True
23 -0.16600 -0.16600        True
24  0.01840  0.01840        True
25 -0.19100 -0.19100        True
26 -0.30600 -0.30600        True
27 -0.18300 -0.18300        True
28 -0.23200 -0.23200        True
29 -0.23100 -0.23100        True
30 -0.14500 -0.14500        True
31 -0.34600 -0.34600        True
    new_col  old_col  difference
0  -0.15900 -0.15900        True
1   0.11400  0.11400        True
2  -0.06280 -0.06280        True
3   0.10800  0.10800        True
4  -0.15400 -0.15400        True
5   0.33300  0.33300        True
6   0.08020  0.08020        True
7   0.11800  0.11800        True
8  -0.08890 -0.08890        True
9   0.08470  0.08470        True
10  0.15000  0.15000        True
11  0.00574  0.00574        True
12 -0.24600 -0.24600        True
13 -0.27800 -0.27800        True
14 -0.35600 -0.35600        True
15 -0.40700 -0.40700        True
16 -0.38400 -0.38400        True
17 -0.35500 -0.35500        True
18 -0.37300 -0.37300        True
19 -0.31700 -0.31700        True
20 -0.30100 -0.30100        True
21 -0.07040 -0.07040        True
22 -0.12400 -0.12400        True
23 -0.15800 -0.15800        True
24  0.07670  0.07670        True
25 -0.27700 -0.27700        True
26 -0.41200 -0.41200        True
27 -0.16000 -0.16000        True
28 -0.18100 -0.18100        True
29 -0.27100 -0.27100        True
30 -0.14700 -0.14700        True
31 -0.37100 -0.37100        True
    new_col  old_col  difference
0   -0.0742  -0.0742        True
1    0.0816   0.0816        True
2   -0.1810  -0.1810        True
3    0.1740   0.1740        True
4   -0.0475  -0.0475        True
5    0.1670   0.1670        True
6   -0.0756  -0.0756        True
7    0.0714   0.0714        True
8   -0.1170  -0.1170        True
9    0.1010   0.1010        True
10   0.1190   0.1190        True
11  -0.0472  -0.0472        True
12  -0.2540  -0.2540        True
13  -0.2120  -0.2120        True
14  -0.3860  -0.3860        True
15  -0.4480  -0.4480        True
16  -0.5050  -0.5050        True
17  -0.4610  -0.4610        True
18  -0.4250  -0.4250        True
19  -0.4410  -0.4410        True
20  -0.3010  -0.3010        True
21  -0.1500  -0.1500        True
22  -0.2020  -0.2020        True
23  -0.1110  -0.1110        True
24  -0.0980  -0.0980        True
25  -0.2660  -0.2660        True
26  -0.4190  -0.4190        True
27  -0.2550  -0.2550        True
28  -0.2830  -0.2830        True
29  -0.3140  -0.3140        True
30  -0.1790  -0.1790        True
31  -0.4070  -0.4070        True
    new_col  old_col  difference
0   -0.2050  -0.2050        True
1    0.1970   0.1970        True
2   -0.2520  -0.2520        True
3    0.2600   0.2600        True
4   -0.1750  -0.1750        True
5    0.0773   0.0773        True
6   -0.1850  -0.1850        True
7   -0.1850  -0.1850        True
8   -0.2010  -0.2010        True
9   -0.1840  -0.1840        True
10   0.0411   0.0411        True
11  -0.2200  -0.2200        True
12  -0.2870  -0.2870        True
13  -0.3870  -0.3870        True
14  -0.4410  -0.4410        True
15  -0.5100  -0.5100        True
16  -0.5410  -0.5410        True
17  -0.5410  -0.5410        True
18  -0.4660  -0.4660        True
19  -0.4580  -0.4580        True
20  -0.5040  -0.5040        True
21  -0.3210  -0.3210        True
22  -0.3250  -0.3250        True
23  -0.3280  -0.3280        True
24  -0.1940  -0.1940        True
25  -0.3640  -0.3640        True
26  -0.5490  -0.5490        True
27  -0.3890  -0.3890        True
28  -0.4180  -0.4180        True
29  -0.4360  -0.4360        True
30  -0.3520  -0.3520        True
31  -0.5560  -0.5560        True
    new_col  old_col  difference
0   -0.0998  -0.0998        True
1    0.2260   0.2260        True
2   -0.2620  -0.2620        True
3    0.1360   0.1360        True
4   -0.0954  -0.0954        True
5    0.2640   0.2640        True

31  -0.4070  -0.4070        True
raw_data\UI Claims - City - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        5        5        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
    new_col  old_col  difference
0        11       11        True
1        18       18        True
2        25       25        True
3         1        1        True
4         8        8        True
5        15       15        True
6        22       22        True
7        29       29        True
8         7        7        True
9        14       14        True
10       21       21        True
11       28       28        True
12        4        4        True
13       11       11        True
14       18       18        True
15       25       25        True
16        2        2        True
17        9        9        True
18       16       16        True
19       23       23        True
20       30       30        True
21        6        6        True
22       13       13        True
23       20       20        True
24       27       27        True
25        4        4        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
    new_col  old_col  difference
0      3365     3365        True
1      4198     4198        True
2      2951     2951        True
3      2813     2813        True
4      2604     2604        True
5      2801     2801        True
6      2255     2255        True
7      2687     2687        True
8      2937     2937        True
9      3900     3900        True
10    12614    12614        True
11    71645    71645        True
12    62201    62201        True
13    73319    73319        True
14    59101    59101        True
15    36392    36392        True
16    35376    35376        True
17    18442    18442        True
18    21197    21197        True
19    17627    17627        True
20    19827    19827        True
21    22186    22186        True
22    24026    24026        True
23    28312    28312        True
24    27602    27602        True
25    26351    26351        True
    new_col  old_col  difference
0     0.212    0.212        True
1     0.264    0.264        True
2     0.186    0.186        True
3     0.177    0.177        True
4     0.164    0.164        True
5     0.176    0.176        True
6     0.142    0.142        True
7     0.169    0.169        True
8     0.185    0.185        True
9     0.245    0.245        True
10    0.793    0.793        True
11    4.500    4.500        True
12    3.910    3.910        True
13    4.610    4.610        True
14    3.720    3.720        True
15    2.290    2.290        True
16    2.220    2.220        True
17    1.160    1.160        True
18    1.330    1.330        True
19    1.110    1.110        True
20    1.250    1.250        True
21    1.390    1.390        True
22    1.510    1.510        True
23    1.780    1.780        True
24    1.740    1.740        True
25    1.660    1.660        True
raw_data\UI Claims - County - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        5        5        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
    new_col  old_col  difference
0        11       11        True
1        18       18        True
2        25       25        True
3         1        1        True
4         8        8        True
5        15       15        True
6        22       22        True
7        29       29        True
8         7        7        True
9        14       14        True
10       21       21        True
11       28       28        True
12        4        4        True
13       11       11        True
14       18       18        True
15       25       25        True
16        2        2        True
17        9        9        True
18       16       16        True
19       23       23        True
20       30       30        True
21        6        6        True
22       13       13        True
23       20       20        True
24       27       27        True
25        4        4        True
    new_col  old_col  difference
0      6073     6073        True
1      6073     6073        True
2      6073     6073        True
3      6073     6073        True
4      6073     6073        True
5      6073     6073        True
6      6073     6073        True
7      6073     6073        True
8      6073     6073        True
9      6073     6073        True
10     6073     6073        True
11     6073     6073        True
12     6073     6073        True
13     6073     6073        True
14     6073     6073        True
15     6073     6073        True
16     6073     6073        True
17     6073     6073        True
18     6073     6073        True
19     6073     6073        True
20     6073     6073        True
21     6073     6073        True
22     6073     6073        True
23     6073     6073        True
24     6073     6073        True
25     6073     6073        True
    new_col  old_col  difference
0      3365     3365        True
1      4198     4198        True
2      2951     2951        True
3      2813     2813        True
4      2604     2604        True
5      2801     2801        True
6      2255     2255        True
7      2687     2687        True
8      2937     2937        True
9      3900     3900        True
10    12614    12614        True
11    71645    71645        True
12    62201    62201        True
13    73319    73319        True
14    59101    59101        True
15    36392    36392        True
16    35376    35376        True
17    18442    18442        True
18    21197    21197        True
19    17627    17627        True
20    19827    19827        True
21    22186    22186        True
22    24026    24026        True
23    28312    28312        True
24    27602    27602        True
25    26351    26351        True
    new_col  old_col  difference
0     0.212    0.212        True
1     0.264    0.264        True
2     0.186    0.186        True
3     0.177    0.177        True
4     0.164    0.164        True
5     0.176    0.176        True
6     0.142    0.142        True
7     0.169    0.169        True
8     0.185    0.185        True
9     0.245    0.245        True
10    0.793    0.793        True
11    4.500    4.500        True
12    3.910    3.910        True
13    4.610    4.610        True
14    3.720    3.720        True
15    2.290    2.290        True
16    2.220    2.220        True
17    1.160    1.160        True
18    1.330    1.330        True
19    1.110    1.110        True
20    1.250    1.250        True
21    1.390    1.390        True
22    1.510    1.510        True
23    1.780    1.780        True
24    1.740    1.740        True
25    1.660    1.660        True
raw_data\UI Claims - National - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
30     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         1        1        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         2        2        True
9         3        3        True
10        3        3        True
11        3        3        True
12        3        3        True
13        4        4        True
14        4        4        True
15        4        4        True
16        4        4        True
17        5        5        True
18        5        5        True
19        5        5        True
20        5        5        True
21        5        5        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        7        7        True
27        7        7        True
28        7        7        True
29        7        7        True
30        8        8        True
    new_col  old_col  difference
0         4        4        True
1        11       11        True
2        18       18        True
3        25       25        True
4         1        1        True
5         8        8        True
6        15       15        True
7        22       22        True
8        29       29        True
9         7        7        True
10       14       14        True
11       21       21        True
12       28       28        True
13        4        4        True
14       11       11        True
15       18       18        True
16       25       25        True
17        2        2        True
18        9        9        True
19       16       16        True
20       23       23        True
21       30       30        True
22        6        6        True
23       13       13        True
24       20       20        True
25       27       27        True
26        4        4        True
27       11       11        True
28       18       18        True
29       25       25        True
30        1        1        True
    new_col  old_col  difference
0    334431   334431        True
1    336938   336938        True
2    278394   278394        True
3    225973   225973        True
4    222510   222510        True
5    217589   217589        True
6    207551   207551        True
7    197387   197387        True
8    215272   215272        True
9    198478   198478        True
10   250635   250635        True
11  2898043  2898043        True
12  5946770  5946770        True
13  6107490  6107490        True
14  4860789  4860789        True
15  4201328  4201328        True
16  3452629  3452629        True
17  2788420  2788420        True
18  2313472  2313472        True
19  2150043  2150043        True
20  1890091  1890091        True
21  1606123  1606123        True
22  1548694  1548694        True
23  1450372  1450372        True
24  1439361  1439361        True
25  1416339  1416339        True
26  1383825  1383825        True
27  1504801  1504801        True
28  1369798  1369798        True
29  1200282  1200282        True
30   986036   986036        True
     new_col   old_col  difference
0    2462517   2462517        True
1    2570027   2570027        True
2    2396212   2396212        True
3    2283126   2283126        True
4    2351722   2351722        True
5    2281272   2281272        True
6    2285250   2285250        True
7    2237469   2237469        True
8    2298677   2298677        True
9    2234391   2234391        True
10   2208581   2208581        True
11   4956985   4956985        True
12   9343613   9343613        True
13  14225506  14225506        True
14  17235124  17235124        True
15  20367614  20367614        True
16  21092917  21092917        True
17  24414232  24414232        True
18  23026402  23026402        True
19  24788260  24788260        True
20  20552960  20552960        True
21  20537853  20537853        True
22  19991285  19991285        True
23  19691682  19691682        True
24  18891475  18891475        True
25  18621050  18621050        True
26  17667469  17667469        True
27  18597662  18597662        True
28  17497963  17497963        True
29  17808465  17808465        True
30  16650373  16650373        True
    new_col  old_col  difference
0     0.205    0.205        True
1     0.207    0.207        True
2     0.171    0.171        True
3     0.139    0.139        True
4     0.136    0.136        True
5     0.133    0.133        True
6     0.127    0.127        True
7     0.121    0.121        True
8     0.132    0.132        True
9     0.122    0.122        True
10    0.154    0.154        True
11    1.780    1.780        True
12    3.650    3.650        True
13    3.740    3.740        True
14    2.980    2.980        True
15    2.580    2.580        True
16    2.120    2.120        True
17    1.710    1.710        True
18    1.420    1.420        True
19    1.320    1.320        True
20    1.160    1.160        True
21    0.985    0.985        True
22    0.950    0.950        True
23    0.889    0.889        True
24    0.883    0.883        True
25    0.868    0.868        True
26    0.848    0.848        True
27    0.923    0.923        True
28    0.840    0.840        True
29    0.736    0.736        True
30    0.605    0.605        True
    new_col  old_col  difference
0      1.51     1.51        True
1      1.58     1.58        True
2      1.47     1.47        True
3      1.40     1.40        True
4      1.44     1.44        True
5      1.40     1.40        True
6      1.40     1.40        True
7      1.37     1.37        True
8      1.41     1.41        True
9      1.37     1.37        True
10     1.35     1.35        True
11     3.04     3.04        True
12     5.73     5.73        True
13     8.72     8.72        True
14    10.60    10.60        True
15    12.50    12.50        True
16    12.90    12.90        True
17    15.00    15.00        True
18    14.10    14.10        True
19    15.20    15.20        True
20    12.60    12.60        True
21    12.60    12.60        True
22    12.30    12.30        True
23    12.10    12.10        True
24    11.60    11.60        True
25    11.40    11.40        True
26    10.80    10.80        True
27    11.40    11.40        True
28    10.70    10.70        True
29    10.90    10.90        True
30    10.20    10.20        True
raw_data\UI Claims - State - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
30     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         1        1        True
4         2        2        True
5         2        2        True
6         2        2        True
7         2        2        True
8         2        2        True
9         3        3        True
10        3        3        True
11        3        3        True
12        3        3        True
13        4        4        True
14        4        4        True
15        4        4        True
16        4        4        True

30        1        1        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
30        6        6        True
    new_col  old_col  difference
0     36720    36720        True
1     51993    51993        True
2     64858    64858        True
3     45596    45596        True
4     43458    43458        True
5     40392    40392        True
6     43445    43445        True
7     34979    34979        True
8     41678    41678        True
9     43385    43385        True
10    57606    57606        True
11   186333   186333        True
12  1058325  1058325        True
13   918814   918814        True
14   655472   655472        True
15   528360   528360        True
16   325343   325343        True
17   316257   316257        True
18   212667   212667        True
19   244431   244431        True
20   203262   203262        True
21   228634   228634        True
22   255836   255836        True
23   241424   241424        True
24   284494   284494        True
25   277362   277362        True
26   264791   264791        True
27   284914   284914        True
28   289594   289594        True
29   244653   244653        True
30   222043   222043        True
    new_col  old_col  difference
0     0.189    0.189        True
1     0.268    0.268        True
2     0.334    0.334        True
3     0.235    0.235        True
4     0.224    0.224        True
5     0.208    0.208        True
6     0.224    0.224        True
7     0.180    0.180        True
8     0.215    0.215        True
9     0.224    0.224        True
10    0.297    0.297        True
11    0.960    0.960        True
12    5.450    5.450        True
13    4.730    4.730        True
14    3.380    3.380        True
15    2.720    2.720        True
16    1.680    1.680        True
17    1.630    1.630        True
18    1.100    1.100        True
19    1.260    1.260        True
20    1.050    1.050        True
21    1.180    1.180        True
22    1.320    1.320        True
23    1.240    1.240        True
24    1.470    1.470        True
25    1.430    1.430        True
26    1.360    1.360        True
27    1.470    1.470        True
28    1.490    1.490        True
29    1.260    1.260        True
30    1.140    1.140        True
    new_col  old_col  difference
0    396326   396326        True
1    408369   408369        True
2    441805   441805        True
3    381865   381865        True
4    431799   431799        True
5    399548   399548        True
6    418750   418750        True
7    384231   384231        True
8    411666   411666        True
9    422249   422249        True
10   408950   408950        True
11   608245   608245        True
12  1458890  1458890        True
13  1995575  1995575        True
14  2085426  2085426        True
15  2950818  2950818        True
16  2212918  2212918        True
17  5124618  5124618        True
18  3062871  3062871        True
19  3809584  3809584        True
20  2358572  2358572        True
21  2981035  2981035        True
22  3068320  3068320        True
23  3242837  3242837        True
24  3063919  3063919        True
25  3178963  3178963        True
26  3023265  3023265        True
27  3231721  3231721        True
28  2994498  2994498        True
29  3385272  3385272        True
30  3011525  3011525        True
    new_col  old_col  difference
0      2.04     2.04        True
1      2.10     2.10        True
2      2.28     2.28        True
3      1.97     1.97        True
4      2.22     2.22        True
5      2.06     2.06        True
6      2.16     2.16        True
7      1.98     1.98        True
8      2.12     2.12        True
9      2.18     2.18        True
10     2.11     2.11        True
11     3.13     3.13        True
12     7.52     7.52        True
13    10.30    10.30        True
14    10.70    10.70        True
15    15.20    15.20        True
16    11.40    11.40        True
17    26.40    26.40        True
18    15.80    15.80        True
19    19.60    19.60        True
20    12.20    12.20        True
21    15.40    15.40        True
22    15.80    15.80        True
23    16.70    16.70        True
24    15.80    15.80        True
25    16.40    16.40        True
26    15.60    15.60        True
27    16.60    16.60        True
28    15.40    15.40        True
29    17.40    17.40        True
30    15.50    15.50        True
raw_data\Womply Merchants - City - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
     new_col   old_col  difference
0  -0.000333 -0.000333        True
1   0.004830  0.004830        True
2  -0.003260 -0.003260        True
3  -0.001480 -0.001480        True
4  -0.003690 -0.003690        True
5  -0.001590 -0.001590        True
6  -0.004230 -0.004230        True
7  -0.002710 -0.002710        True
8   0.003080  0.003080        True
9  -0.017400 -0.017400        True
10 -0.204000 -0.204000        True
11 -0.300000 -0.300000        True
12 -0.296000 -0.296000        True
13 -0.342000 -0.342000        True
14 -0.293000 -0.293000        True
15 -0.285000 -0.285000        True
16 -0.264000 -0.264000        True
17 -0.259000 -0.259000        True
18 -0.240000 -0.240000        True
19 -0.232000 -0.232000        True
20 -0.222000 -0.222000        True
21 -0.222000 -0.222000        True
22 -0.212000 -0.212000        True
23 -0.170000 -0.170000        True
24 -0.152000 -0.152000        True
25 -0.155000 -0.155000        True
26 -0.178000 -0.178000        True
27 -0.231000 -0.231000        True
28 -0.243000 -0.243000        True
29 -0.251000 -0.251000        True
    new_col  old_col  difference
0  -0.00602 -0.00602        True
1   0.00524  0.00524        True
2  -0.00399 -0.00399        True
3   0.00276  0.00276        True
4  -0.00312 -0.00312        True
5   0.01090  0.01090        True
6   0.00347  0.00347        True
7   0.00688  0.00688        True
8   0.01780  0.01780        True
9  -0.01070 -0.01070        True
10 -0.29500 -0.29500        True
11 -0.43400 -0.43400        True
12 -0.43900 -0.43900        True
13 -0.47500 -0.47500        True
14 -0.43300 -0.43300        True
15 -0.39400 -0.39400        True
16 -0.40200 -0.40200        True
17 -0.39300 -0.39300        True
18 -0.36400 -0.36400        True
19 -0.33100 -0.33100        True
20 -0.29700 -0.29700        True
21 -0.27000 -0.27000        True
22 -0.26500 -0.26500        True
23 -0.17400 -0.17400        True
24 -0.12900 -0.12900        True
25 -0.12100 -0.12100        True
26 -0.13500 -0.13500        True
27 -0.29600 -0.29600        True
28 -0.31400 -0.31400        True
29 -0.30300 -0.30300        True
    new_col  old_col  difference
0   0.00114  0.00114        True
1   0.00429  0.00429        True
2  -0.01100 -0.01100        True
3   0.00273  0.00273        True
4   0.00527  0.00527        True
5   0.01220  0.01220        True
6   0.00212  0.00212        True
7  -0.00613 -0.00613        True
8  -0.01980 -0.01980        True
9  -0.02560 -0.02560        True
10 -0.22800 -0.22800        True
11 -0.32100 -0.32100        True
12 -0.30700 -0.30700        True
13 -0.33500 -0.33500        True
14 -0.30400 -0.30400        True
15 -0.30900 -0.30900        True
16 -0.26900 -0.26900        True
17 -0.25500 -0.25500        True
18 -0.19600 -0.19600        True
19 -0.14000 -0.14000        True
20 -0.15700 -0.15700        True
21 -0.16600 -0.16600        True
22 -0.14600 -0.14600        True
23 -0.13400 -0.13400        True
24 -0.10400 -0.10400        True
25 -0.12000 -0.12000        True
26 -0.15800 -0.15800        True
27 -0.15000 -0.15000        True
28 -0.16300 -0.16300        True
29 -0.16800 -0.16800        True
     new_col   old_col  difference
0  -0.005130 -0.005130        True
1   0.002730  0.002730        True
2  -0.000733 -0.000733        True
3   0.005850  0.005850        True
4   0.009210  0.009210        True
5   0.012400  0.012400        True
6   0.017800  0.017800        True
7   0.016900  0.016900        True
8   0.032400  0.032400        True
9   0.014500  0.014500        True
10 -0.220000 -0.220000        True
11 -0.288000 -0.288000        True
12 -0.306000 -0.306000        True
13 -0.347000 -0.347000        True
14 -0.316000 -0.316000        True
15 -0.291000 -0.291000        True
16 -0.252000 -0.252000        True
17 -0.218000 -0.218000        True
18 -0.197000 -0.197000        True
19 -0.200000 -0.200000        True
20 -0.218000 -0.218000        True
21 -0.249000 -0.249000        True
22 -0.228000 -0.228000        True
23 -0.203000 -0.203000        True
24 -0.201000 -0.201000        True
25 -0.209000 -0.209000        True
26 -0.259000 -0.259000        True
27 -0.282000 -0.282000        True
28 -0.284000 -0.284000        True
29 -0.306000 -0.306000        True
raw_data\Womply Merchants - County - Daily.csv

    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0      6073     6073        True
1      6073     6073        True
2      6073     6073        True
3      6073     6073        True
4      6073     6073        True
5      6073     6073        True
6      6073     6073        True
7      6073     6073        True
8      6073     6073        True
9      6073     6073        True
10     6073     6073        True
11     6073     6073        True
12     6073     6073        True
13     6073     6073        True
14     6073     6073        True
15     6073     6073        True
16     6073     6073        True
17     6073     6073        True
18     6073     6073        True
19     6073     6073        True
20     6073     6073        True
21     6073     6073        True
22     6073     6073        True
23     6073     6073        True
24     6073     6073        True
25     6073     6073        True
26     6073     6073        True
27     6073     6073        True
28     6073     6073        True
29     6073     6073        True
     new_col   old_col  difference
0  -0.000333 -0.000333        True
1   0.004830  0.004830        True
2  -0.003260 -0.003260        True
3  -0.001480 -0.001480        True
4  -0.003690 -0.003690        True
5  -0.001590 -0.001590        True
6  -0.004230 -0.004230        True
7  -0.002710 -0.002710        True
8   0.003080  0.003080        True
9  -0.017400 -0.017400        True
10 -0.204000 -0.204000        True
11 -0.300000 -0.300000        True
12 -0.296000 -0.296000        True
13 -0.342000 -0.342000        True
14 -0.293000 -0.293000        True
15 -0.285000 -0.285000        True
16 -0.264000 -0.264000        True
17 -0.259000 -0.259000        True
18 -0.240000 -0.240000        True
19 -0.232000 -0.232000        True
20 -0.222000 -0.222000        True
21 -0.222000 -0.222000        True
22 -0.212000 -0.212000        True
23 -0.170000 -0.170000        True
24 -0.152000 -0.152000        True
25 -0.155000 -0.155000        True
26 -0.178000 -0.178000        True
27 -0.231000 -0.231000        True
28 -0.243000 -0.243000        True
29 -0.251000 -0.251000        True
raw_data\Womply Merchants - National - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
     new_col   old_col  difference
0  -0.007080 -0.007080        True
1  -0.000821 -0.000821        True
2  -0.002030 -0.002030        True
3   0.012200  0.012200        True
4  -0.003350 -0.003350        True
5  -0.004710 -0.004710        True
6   0.011500  0.011500        True
7   0.007790  0.007790        True
8   0.021100  0.021100        True
9   0.014200  0.014200        True
10 -0.143000 -0.143000        True
11 -0.275000 -0.275000        True
12 -0.297000 -0.297000        True
13 -0.342000 -0.342000        True
14 -0.290000 -0.290000        True
15 -0.269000 -0.269000        True
16 -0.237000 -0.237000        True
17 -0.217000 -0.217000        True
18 -0.181000 -0.181000        True
19 -0.156000 -0.156000        True
20 -0.163000 -0.163000        True
21 -0.167000 -0.167000        True
22 -0.167000 -0.167000        True
23 -0.128000 -0.128000        True
24 -0.120000 -0.120000        True
25 -0.120000 -0.120000        True
26 -0.136000 -0.136000        True
27 -0.147000 -0.147000        True
28 -0.154000 -0.154000        True
29 -0.167000 -0.167000        True
     new_col   old_col  difference
0  -0.006200 -0.006200        True
1   0.000174  0.000174        True
2  -0.001480 -0.001480        True
3   0.011000  0.011000        True
4  -0.000249 -0.000249        True
5  -0.001470 -0.001470        True
6   0.017500  0.017500        True
7   0.007580  0.007580        True
8   0.020300  0.020300        True
9   0.009860  0.009860        True
10 -0.180000 -0.180000        True
11 -0.312000 -0.312000        True
12 -0.328000 -0.328000        True
13 -0.372000 -0.372000        True
14 -0.326000 -0.326000        True
15 -0.304000 -0.304000        True
16 -0.281000 -0.281000        True
17 -0.263000 -0.263000        True
18 -0.229000 -0.229000        True
19 -0.205000 -0.205000        True
20 -0.211000 -0.211000        True
21 -0.214000 -0.214000        True
22 -0.205000 -0.205000        True
23 -0.163000 -0.163000        True
24 -0.146000 -0.146000        True
25 -0.144000 -0.144000        True
26 -0.159000 -0.159000        True
27 -0.172000 -0.172000        True
28 -0.178000 -0.178000        True
29 -0.192000 -0.192000        True
     new_col   old_col  difference
0  -0.008180 -0.008180        True
1   0.000695  0.000695        True
2  -0.001800 -0.001800        True
3   0.010800  0.010800        True
4  -0.006860 -0.006860        True
5  -0.006580 -0.006580        True
6   0.006980  0.006980        True
7   0.006610  0.006610        True
8   0.020200  0.020200        True
9   0.015200  0.015200        True
10 -0.116000 -0.116000        True
11 -0.243000 -0.243000        True
12 -0.265000 -0.265000        True
13 -0.313000 -0.313000        True
14 -0.252000 -0.252000        True
15 -0.234000 -0.234000        True
16 -0.196000 -0.196000        True
17 -0.176000 -0.176000        True
18 -0.142000 -0.142000        True
19 -0.119000 -0.119000        True
20 -0.127000 -0.127000        True
21 -0.134000 -0.134000        True
22 -0.138000 -0.138000        True
23 -0.103000 -0.103000        True
24 -0.099700 -0.099700        True
25 -0.100000 -0.100000        True
26 -0.117000 -0.117000        True
27 -0.125000 -0.125000        True
28 -0.135000 -0.135000        True
29 -0.146000 -0.146000        True
    new_col  old_col  difference
0  -0.00698 -0.00698        True
1  -0.00206 -0.00206        True
2  -0.00241 -0.00241        True
3   0.01350  0.01350        True
4  -0.00307 -0.00307        True
5  -0.00536 -0.00536        True
6   0.01090  0.01090        True
7   0.00842  0.00842        True
8   0.02190  0.02190        True
9   0.01580  0.01580        True
10 -0.13900 -0.13900        True
11 -0.27300 -0.27300        True
12 -0.29800 -0.29800        True
13 -0.34100 -0.34100        True
14 -0.29000 -0.29000        True
15 -0.26900 -0.26900        True
16 -0.23600 -0.23600        True
17 -0.21600 -0.21600        True
18 -0.17700 -0.17700        True
19 -0.15100 -0.15100        True
20 -0.15800 -0.15800        True
21 -0.16100 -0.16100        True
22 -0.16300 -0.16300        True
23 -0.12400 -0.12400        True
24 -0.11700 -0.11700        True
25 -0.11800 -0.11800        True
26 -0.13400 -0.13400        True
27 -0.14600 -0.14600        True
28 -0.15200 -0.15200        True
29 -0.16500 -0.16500        True
     new_col   old_col  difference
0  -0.008180 -0.008180        True
1   0.000535  0.000535        True
2  -0.003530 -0.003530        True
3   0.014400  0.014400        True
4  -0.002790 -0.002790        True
5  -0.002690 -0.002690        True
6   0.012500  0.012500        True
7   0.011400  0.011400        True
8   0.025400  0.025400        True
9   0.020800  0.020800        True
10 -0.178000 -0.178000        True
11 -0.384000 -0.384000        True
12 -0.419000 -0.419000        True
13 -0.454000 -0.454000        True
14 -0.414000 -0.414000        True
15 -0.373000 -0.373000        True
16 -0.338000 -0.338000        True
17 -0.298000 -0.298000        True
18 -0.238000 -0.238000        True
19 -0.196000 -0.196000        True
20 -0.193000 -0.193000        True
21 -0.185000 -0.185000        True
22 -0.181000 -0.181000        True
23 -0.130000 -0.130000        True
24 -0.112000 -0.112000        True
25 -0.106000 -0.106000        True
26 -0.117000 -0.117000        True
27 -0.136000 -0.136000        True
28 -0.144000 -0.144000        True
29 -0.154000 -0.154000        True
    new_col  old_col  difference
0  -0.00706 -0.00706        True
1  -0.00357 -0.00357        True
2  -0.00087 -0.00087        True
3   0.01340  0.01340        True
4  -0.00210 -0.00210        True
5  -0.00156 -0.00156        True
6   0.01030  0.01030        True
7  -0.00125 -0.00125        True
8   0.00525  0.00525        True
9  -0.00402 -0.00402        True
10 -0.14700 -0.14700        True
11 -0.26200 -0.26200        True
12 -0.27100 -0.27100        True
13 -0.33300 -0.33300        True
14 -0.26000 -0.26000        True
15 -0.27700 -0.27700        True
16 -0.24200 -0.24200        True
17 -0.21600 -0.21600        True
18 -0.18100 -0.18100        True
19 -0.14800 -0.14800        True
20 -0.15500 -0.15500        True
21 -0.14600 -0.14600        True
22 -0.14800 -0.14800        True
23 -0.11900 -0.11900        True
24 -0.11600 -0.11600        True
25 -0.11400 -0.11400        True
26 -0.12900 -0.12900        True
27 -0.12700 -0.12700        True
28 -0.12800 -0.12800        True
29 -0.13700 -0.13700        True
     new_col   old_col  difference
0  -0.005970 -0.005970        True
1   0.001480  0.001480        True
2  -0.002500 -0.002500        True
3   0.008290  0.008290        True
4   0.000362  0.000362        True
5  -0.001820 -0.001820        True
6   0.013800  0.013800        True
7   0.010100  0.010100        True
8   0.029500  0.029500        True
9   0.022400  0.022400        True
10 -0.196000 -0.196000        True
11 -0.300000 -0.300000        True
12 -0.330000 -0.330000        True
13 -0.381000 -0.381000        True
14 -0.336000 -0.336000        True
15 -0.305000 -0.305000        True
16 -0.279000 -0.279000        True
17 -0.259000 -0.259000        True
18 -0.228000 -0.228000        True
19 -0.198000 -0.198000        True
20 -0.219000 -0.219000        True
21 -0.237000 -0.237000        True
22 -0.230000 -0.230000        True
23 -0.192000 -0.192000        True
24 -0.191000 -0.191000        True
25 -0.204000 -0.204000        True
26 -0.235000 -0.235000        True
27 -0.243000 -0.243000        True
28 -0.248000 -0.248000        True
29 -0.269000 -0.269000        True
raw_data\Womply Merchants - State - Daily.csv

    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
     new_col   old_col  difference
0  -0.003200 -0.003200        True
1   0.005940  0.005940        True
2  -0.001280 -0.001280        True
3   0.003130  0.003130        True
4   0.009060  0.009060        True
5   0.003680  0.003680        True
6   0.007030  0.007030        True
7   0.009130  0.009130        True
8   0.018800  0.018800        True
9   0.000359  0.000359        True
10 -0.195000 -0.195000        True
11 -0.279000 -0.279000        True
12 -0.277000 -0.277000        True
13 -0.321000 -0.321000        True
14 -0.276000 -0.276000        True
15 -0.259000 -0.259000        True
16 -0.236000 -0.236000        True
17 -0.238000 -0.238000        True
18 -0.219000 -0.219000        True
19 -0.211000 -0.211000        True
20 -0.211000 -0.211000        True
21 -0.209000 -0.209000        True
22 -0.195000 -0.195000        True
23 -0.155000 -0.155000        True
24 -0.135000 -0.135000        True
25 -0.136000 -0.136000        True
26 -0.151000 -0.151000        True
27 -0.200000 -0.200000        True
28 -0.208000 -0.208000        True
29 -0.222000 -0.222000        True
     new_col   old_col  difference
0  -0.001340 -0.001340        True
1   0.006030  0.006030        True
2  -0.002380 -0.002380        True
3   0.002420  0.002420        True
4   0.007160  0.007160        True
5  -0.000771 -0.000771        True
6   0.007860  0.007860        True
7   0.006710  0.006710        True
8   0.015300  0.015300        True
9  -0.002160 -0.002160        True
10 -0.228000 -0.228000        True
11 -0.306000 -0.306000        True
12 -0.300000 -0.300000        True
13 -0.342000 -0.342000        True
14 -0.304000 -0.304000        True
15 -0.284000 -0.284000        True
16 -0.267000 -0.267000        True
17 -0.267000 -0.267000        True
18 -0.246000 -0.246000        True
19 -0.239000 -0.239000        True
20 -0.236000 -0.236000        True
21 -0.231000 -0.231000        True
22 -0.214000 -0.214000        True
23 -0.171000 -0.171000        True
24 -0.151000 -0.151000        True
25 -0.154000 -0.154000        True
26 -0.172000 -0.172000        True
27 -0.220000 -0.220000        True
28 -0.227000 -0.227000        True
29 -0.240000 -0.240000        True
    new_col  old_col  difference
0  -0.01190 -0.01190        True
1   0.00765  0.00765        True
2   0.00407  0.00407        True
3   0.01160  0.01160        True
4   0.01440  0.01440        True
5   0.00507  0.00507        True
6   0.01090  0.01090        True
7   0.01690  0.01690        True
8   0.02390  0.02390        True
9   0.00491  0.00491        True
10 -0.16200 -0.16200        True
11 -0.25600 -0.25600        True
12 -0.25900 -0.25900        True
13 -0.30500 -0.30500        True
14 -0.24700 -0.24700        True
15 -0.23100 -0.23100        True
16 -0.20400 -0.20400        True
17 -0.20100 -0.20100        True
18 -0.18200 -0.18200        True
19 -0.17000 -0.17000        True
20 -0.17400 -0.17400        True
21 -0.17800 -0.17800        True
22 -0.16200 -0.16200        True
23 -0.12900 -0.12900        True
24 -0.10800 -0.10800        True
25 -0.10300 -0.10300        True
26 -0.10800 -0.10800        True
27 -0.14900 -0.14900        True
28 -0.16000 -0.16000        True
29 -0.18000 -0.18000        True
    new_col  old_col  difference
0  -0.00246 -0.00246        True
1   0.00532  0.00532        True
2  -0.00175 -0.00175        True
3   0.00142  0.00142        True
4   0.00944  0.00944        True
5   0.00755  0.00755        True
6   0.00519  0.00519        True
7   0.00915  0.00915        True
8   0.02060  0.02060        True
9   0.00148  0.00148        True
10 -0.17200 -0.17200        True
11 -0.26100 -0.26100        True
12 -0.26000 -0.26000        True
13 -0.30600 -0.30600        True
14 -0.25700 -0.25700        True
15 -0.24300 -0.24300        True
16 -0.21500 -0.21500        True
17 -0.22200 -0.22200        True
18 -0.20400 -0.20400        True
19 -0.19600 -0.19600        True
20 -0.19800 -0.19800        True
21 -0.19600 -0.19600        True
22 -0.18600 -0.18600        True
23 -0.14700 -0.14700        True
24 -0.12700 -0.12700        True
25 -0.12800 -0.12800        True
26 -0.14400 -0.14400        True
27 -0.19600 -0.19600        True
28 -0.20400 -0.20400        True
29 -0.21800 -0.21800        True
    new_col  old_col  difference
0  -0.00746 -0.00746        True
1   0.00906  0.00906        True
2  -0.00196 -0.00196        True
3   0.00744  0.00744        True
4   0.01480  0.01480        True
5   0.01120  0.01120        True
6   0.01010  0.01010        True
7   0.01370  0.01370        True
8   0.02320  0.02320        True
9   0.00282  0.00282        True
10 -0.28700 -0.28700        True
11 -0.41200 -0.41200        True
12 -0.41500 -0.41500        True
13 -0.44700 -0.44700        True
14 -0.41200 -0.41200        True
15 -0.38100 -0.38100        True
16 -0.36000 -0.36000        True
17 -0.34900 -0.34900        True
18 -0.32700 -0.32700        True
19 -0.30900 -0.30900        True
20 -0.29000 -0.29000        True
21 -0.27000 -0.27000        True
22 -0.24700 -0.24700        True
23 -0.17700 -0.17700        True
24 -0.13600 -0.13600        True
25 -0.13100 -0.13100        True
26 -0.14000 -0.14000        True
27 -0.26200 -0.26200        True
28 -0.27400 -0.27400        True
29 -0.27800 -0.27800        True
     new_col   old_col  difference
0  -0.000663 -0.000663        True
1   0.004580  0.004580        True
2  -0.002560 -0.002560        True
3  -0.000974 -0.000974        True
4   0.002330  0.002330        True
5   0.010400  0.010400        True
6   0.008610  0.008610        True
7  -0.003180 -0.003180        True
8   0.003570  0.003570        True
9  -0.007300 -0.007300        True
10 -0.211000 -0.211000        True
11 -0.295000 -0.295000        True
12 -0.283000 -0.283000        True
13 -0.327000 -0.327000        True
14 -0.273000 -0.273000        True
15 -0.277000 -0.277000        True
16 -0.255000 -0.255000        True
17 -0.243000 -0.243000        True
18 -0.193000 -0.193000        True
19 -0.157000 -0.157000        True
20 -0.170000 -0.170000        True
21 -0.155000 -0.155000        True
22 -0.145000 -0.145000        True
23 -0.127000 -0.127000        True
24 -0.112000 -0.112000        True
25 -0.130000 -0.130000        True
26 -0.152000 -0.152000        True
27 -0.158000 -0.158000        True
28 -0.155000 -0.155000        True
29 -0.170000 -0.170000        True
     new_col   old_col  difference
0  -0.003770 -0.003770        True
1   0.007610  0.007610        True
2  -0.002500 -0.002500        True
3   0.000746  0.000746        True
4   0.013500  0.013500        True
5   0.011900  0.011900        True
6   0.013200  0.013200        True
7   0.014000  0.014000        True
8   0.030800  0.030800        True
9   0.017800  0.017800        True
10 -0.196000 -0.196000        True
11 -0.263000 -0.263000        True
12 -0.294000 -0.294000        True
13 -0.342000 -0.342000        True
14 -0.303000 -0.303000        True
15 -0.281000 -0.281000        True
16 -0.264000 -0.264000        True
17 -0.261000 -0.261000        True
18 -0.243000 -0.243000        True
19 -0.222000 -0.222000        True
20 -0.250000 -0.250000        True
21 -0.272000 -0.272000        True
22 -0.247000 -0.247000        True
23 -0.214000 -0.214000        True
24 -0.208000 -0.208000        True
25 -0.216000 -0.216000        True
26 -0.249000 -0.249000        True
27 -0.267000 -0.267000        True
28 -0.269000 -0.269000        True
29 -0.291000 -0.291000        True
raw_data\Womply Revenue - City - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
    new_col  old_col  difference
0  -0.05400 -0.05400        True
1   0.01090  0.01090        True
2   0.00928  0.00928        True
3  -0.00259 -0.00259        True
4   0.15600  0.15600        True
5   0.01490  0.01490        True
6   0.03080  0.03080        True
7   0.01680  0.01680        True
8  -0.01470 -0.01470        True
9  -0.14700 -0.14700        True
10 -0.35700 -0.35700        True
11 -0.45400 -0.45400        True
12 -0.45000 -0.45000        True
13 -0.48900 -0.48900        True
14 -0.38600 -0.38600        True
15 -0.32500 -0.32500        True
16 -0.32300 -0.32300        True
17 -0.26100 -0.26100        True
18 -0.23200 -0.23200        True
19 -0.24400 -0.24400        True
20 -0.22700 -0.22700        True
21 -0.23400 -0.23400        True
22 -0.25800 -0.25800        True
23 -0.19200 -0.19200        True
24 -0.21700 -0.21700        True
25 -0.21700 -0.21700        True
26 -0.20600 -0.20600        True
27 -0.24400 -0.24400        True
28 -0.22100 -0.22100        True
29 -0.23100 -0.23100        True
    new_col  old_col  difference
0   -0.0703  -0.0703        True
1    0.0224   0.0224        True
2    0.0177   0.0177        True
3    0.0554   0.0554        True
4    0.0863   0.0863        True
5    0.0283   0.0283        True
6   -0.0351  -0.0351        True
7    0.0209   0.0209        True
8   -0.0715  -0.0715        True
9   -0.1120  -0.1120        True
10  -0.3830  -0.3830        True
11  -0.5070  -0.5070        True
12  -0.4990  -0.4990        True
13  -0.5400  -0.5400        True
14  -0.4480  -0.4480        True
15  -0.3220  -0.3220        True
16  -0.3060  -0.3060        True
17  -0.3230  -0.3230        True
18  -0.2390  -0.2390        True
19  -0.2320  -0.2320        True
20  -0.2090  -0.2090        True
21  -0.1490  -0.1490        True
22  -0.1510  -0.1510        True
23  -0.0902  -0.0902        True
24  -0.1390  -0.1390        True
25  -0.1410  -0.1410        True
26  -0.1110  -0.1110        True
27  -0.1800  -0.1800        True
28  -0.1500  -0.1500        True
29  -0.1710  -0.1710        True
    new_col  old_col  difference
0   -0.1050  -0.1050        True
1    0.0265   0.0265        True
2    0.0191   0.0191        True
3   -0.0534  -0.0534        True
4    0.1770   0.1770        True
5    0.1060   0.1060        True
6    0.2180   0.2180        True
7    0.0141   0.0141        True
8    0.1400   0.1400        True
9   -0.0107  -0.0107        True
10  -0.2370  -0.2370        True
11  -0.3340  -0.3340        True
12  -0.4210  -0.4210        True
13  -0.5260  -0.5260        True
14  -0.4670  -0.4670        True
15  -0.4530  -0.4530        True
16  -0.5020  -0.5020        True
17  -0.4580  -0.4580        True
18  -0.3620  -0.3620        True
19  -0.2830  -0.2830        True
20  -0.3090  -0.3090        True
21  -0.3250  -0.3250        True
22  -0.2850  -0.2850        True
23  -0.1940  -0.1940        True
24  -0.3020  -0.3020        True
25  -0.2550  -0.2550        True
26  -0.3280  -0.3280        True
27  -0.3550  -0.3550        True
28  -0.2970  -0.2970        True
29  -0.4310  -0.4310        True
    new_col  old_col  difference
0   -0.0174  -0.0174        True
1    0.0193   0.0193        True
2   -0.0439  -0.0439        True
3   -0.0421  -0.0421        True
4    0.0995   0.0995        True
5   -0.0391  -0.0391        True
6   -0.0334  -0.0334        True
7   -0.0405  -0.0405        True
8   -0.1150  -0.1150        True
9   -0.3790  -0.3790        True
10  -0.7700  -0.7700        True
11  -0.7840  -0.7840        True
12  -0.7800  -0.7800        True
13  -0.7830  -0.7830        True
14  -0.7560  -0.7560        True
15  -0.6770  -0.6770        True
16  -0.6620  -0.6620        True
17  -0.5840  -0.5840        True
18  -0.6010  -0.6010        True
19  -0.5360  -0.5360        True
20  -0.5080  -0.5080        True
21  -0.5480  -0.5480        True
22  -0.5480  -0.5480        True
23  -0.4660  -0.4660        True
24  -0.5010  -0.5010        True
25  -0.5050  -0.5050        True
26  -0.5130  -0.5130        True
27  -0.5720  -0.5720        True
28  -0.5020  -0.5020        True
29  -0.4900  -0.4900        True

raw_data\Womply Revenue - County - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0      6073     6073        True
1      6073     6073        True
2      6073     6073        True
3      6073     6073        True
4      6073     6073        True
5      6073     6073        True
6      6073     6073        True
7      6073     6073        True
8      6073     6073        True
9      6073     6073        True
10     6073     6073        True
11     6073     6073        True
12     6073     6073        True
13     6073     6073        True
14     6073     6073        True
15     6073     6073        True
16     6073     6073        True
17     6073     6073        True
18     6073     6073        True
19     6073     6073        True
20     6073     6073        True
21     6073     6073        True
22     6073     6073        True
23     6073     6073        True
24     6073     6073        True
25     6073     6073        True
26     6073     6073        True
27     6073     6073        True
28     6073     6073        True
29     6073     6073        True
    new_col  old_col  difference
0  -0.05400 -0.05400        True
1   0.01090  0.01090        True
2   0.00928  0.00928        True
3  -0.00259 -0.00259        True
4   0.15600  0.15600        True
5   0.01490  0.01490        True
6   0.03080  0.03080        True
7   0.01680  0.01680        True
8  -0.01470 -0.01470        True
9  -0.14700 -0.14700        True
10 -0.35700 -0.35700        True
11 -0.45400 -0.45400        True
12 -0.45000 -0.45000        True
13 -0.48900 -0.48900        True
14 -0.38600 -0.38600        True
15 -0.32500 -0.32500        True
16 -0.32300 -0.32300        True
17 -0.26100 -0.26100        True
18 -0.23200 -0.23200        True
19 -0.24400 -0.24400        True
20 -0.22700 -0.22700        True
21 -0.23400 -0.23400        True
22 -0.25800 -0.25800        True
23 -0.19200 -0.19200        True
24 -0.21700 -0.21700        True
25 -0.21700 -0.21700        True
26 -0.20600 -0.20600        True
27 -0.24400 -0.24400        True
28 -0.22100 -0.22100        True
29 -0.23100 -0.23100        True
raw_data\Womply Revenue - National - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0  -0.01350 -0.01350        True
1   0.00195  0.00195        True
2  -0.00831 -0.00831        True
3   0.01320  0.01320        True
4   0.13900  0.13900        True
5  -0.01070 -0.01070        True
6  -0.00662 -0.00662        True
7   0.04960  0.04960        True
8   0.00384  0.00384        True
9  -0.07890 -0.07890        True
10 -0.26900 -0.26900        True
11 -0.41200 -0.41200        True
12 -0.40400 -0.40400        True
13 -0.40600 -0.40600        True
14 -0.31900 -0.31900        True
15 -0.28200 -0.28200        True
16 -0.27800 -0.27800        True
17 -0.23900 -0.23900        True
18 -0.17900 -0.17900        True
19 -0.15300 -0.15300        True
20 -0.13600 -0.13600        True
21 -0.15800 -0.15800        True
22 -0.13000 -0.13000        True
23 -0.12800 -0.12800        True
24 -0.15500 -0.15500        True
25 -0.12900 -0.12900        True
26 -0.15800 -0.15800        True
27 -0.16100 -0.16100        True
28 -0.17200 -0.17200        True
29 -0.18200 -0.18200        True
    new_col  old_col  difference
0  -0.00551 -0.00551        True
1  -0.00115 -0.00115        True
2  -0.00693 -0.00693        True
3   0.01420  0.01420        True
4   0.13800  0.13800        True
5  -0.01730 -0.01730        True
6  -0.00314 -0.00314        True
7   0.03480  0.03480        True
8  -0.00991 -0.00991        True
9  -0.11300 -0.11300        True
10 -0.31900 -0.31900        True
11 -0.44300 -0.44300        True
12 -0.44600 -0.44600        True
13 -0.44800 -0.44800        True
14 -0.38800 -0.38800        True
15 -0.34400 -0.34400        True
16 -0.35000 -0.35000        True
17 -0.31300 -0.31300        True
18 -0.26900 -0.26900        True
19 -0.24000 -0.24000        True
20 -0.22000 -0.22000        True
21 -0.24200 -0.24200        True
22 -0.20900 -0.20900        True
23 -0.19600 -0.19600        True
24 -0.21700 -0.21700        True
25 -0.19200 -0.19200        True
26 -0.20700 -0.20700        True
27 -0.21600 -0.21600        True
28 -0.21300 -0.21300        True
29 -0.22600 -0.22600        True
     new_col   old_col  difference
0  -0.048100 -0.048100        True
1   0.004050  0.004050        True
2   0.000974  0.000974        True
3   0.015700  0.015700        True
4   0.135000  0.135000        True
5  -0.009050 -0.009050        True
6  -0.018300 -0.018300        True
7   0.051700  0.051700        True
8   0.013200  0.013200        True
9  -0.049300 -0.049300        True
10 -0.207000 -0.207000        True
11 -0.373000 -0.373000        True
12 -0.354000 -0.354000        True
13 -0.357000 -0.357000        True
14 -0.227000 -0.227000        True
15 -0.206000 -0.206000        True
16 -0.196000 -0.196000        True
17 -0.169000 -0.169000        True
18 -0.092900 -0.092900        True
19 -0.062000 -0.062000        True
20 -0.053800 -0.053800        True
21 -0.092600 -0.092600        True
22 -0.061400 -0.061400        True
23 -0.074000 -0.074000        True
24 -0.098600 -0.098600        True
25 -0.054300 -0.054300        True
26 -0.098800 -0.098800        True
27 -0.074800 -0.074800        True
28 -0.127000 -0.127000        True
29 -0.131000 -0.131000        True
     new_col   old_col  difference
0  -0.006650 -0.006650        True
1   0.000932  0.000932        True
2  -0.011600 -0.011600        True
3   0.011700  0.011700        True
4   0.142000  0.142000        True
5  -0.006420 -0.006420        True
6  -0.003930 -0.003930        True
7   0.064000  0.064000        True
8   0.009890  0.009890        True
9  -0.063300 -0.063300        True
10 -0.254000 -0.254000        True
11 -0.400000 -0.400000        True
12 -0.389000 -0.389000        True
13 -0.385000 -0.385000        True
14 -0.300000 -0.300000        True
15 -0.243000 -0.243000        True
16 -0.235000 -0.235000        True
17 -0.191000 -0.191000        True
18 -0.118000 -0.118000        True
19 -0.097800 -0.097800        True
20 -0.085500 -0.085500        True
21 -0.101000 -0.101000        True
22 -0.077000 -0.077000        True
23 -0.088100 -0.088100        True
24 -0.124000 -0.124000        True
25 -0.105000 -0.105000        True
26 -0.139000 -0.139000        True
27 -0.149000 -0.149000        True
28 -0.149000 -0.149000        True
29 -0.162000 -0.162000        True
    new_col  old_col  difference
0  -0.00459 -0.00459        True
1   0.00529  0.00529        True
2  -0.01490 -0.01490        True
3   0.00813  0.00813        True
4   0.12400  0.12400        True
5   0.00768  0.00768        True
6  -0.02580 -0.02580        True
7   0.07490  0.07490        True
8   0.02500  0.02500        True
9   0.00748  0.00748        True
10 -0.13200 -0.13200        True
11 -0.38700 -0.38700        True
12 -0.39200 -0.39200        True
13 -0.38900 -0.38900        True
14 -0.30900 -0.30900        True
15 -0.21700 -0.21700        True
16 -0.20500 -0.20500        True
17 -0.16600 -0.16600        True
18 -0.07780 -0.07780        True
19 -0.05140 -0.05140        True
20 -0.06840 -0.06840        True
21 -0.04950 -0.04950        True
22 -0.05410 -0.05410        True
23  0.00893  0.00893        True
24 -0.05090 -0.05090        True
25 -0.03040 -0.03040        True
26 -0.06290 -0.06290        True
27 -0.06400 -0.06400        True
28 -0.06410 -0.06410        True
29 -0.10200 -0.10200        True
     new_col   old_col  difference
0  -0.045600 -0.045600        True
1   0.013100  0.013100        True
2  -0.010400 -0.010400        True
3   0.036600  0.036600        True
4   0.140000  0.140000        True
5  -0.024100 -0.024100        True
6   0.016300  0.016300        True
7   0.050300  0.050300        True
8  -0.000036 -0.000036        True
9  -0.076200 -0.076200        True
10 -0.280000 -0.280000        True
11 -0.437000 -0.437000        True
12 -0.452000 -0.452000        True
13 -0.465000 -0.465000        True
14 -0.346000 -0.346000        True
15 -0.425000 -0.425000        True
16 -0.443000 -0.443000        True
17 -0.364000 -0.364000        True
18 -0.279000 -0.279000        True
19 -0.181000 -0.181000        True
20 -0.157000 -0.157000        True
21 -0.260000 -0.260000        True
22 -0.158000 -0.158000        True
23 -0.209000 -0.209000        True
24 -0.222000 -0.222000        True
25 -0.174000 -0.174000        True
26 -0.211000 -0.211000        True
27 -0.193000 -0.193000        True
28 -0.269000 -0.269000        True
29 -0.216000 -0.216000        True
    new_col  old_col  difference
0  -0.02170 -0.02170        True
1   0.00539  0.00539        True
2  -0.00835 -0.00835        True
3   0.01500  0.01500        True
4   0.16000  0.16000        True
5  -0.01670 -0.01670        True
6  -0.00319 -0.00319        True
7   0.03000  0.03000        True
8  -0.01340 -0.01340        True
9  -0.24500 -0.24500        True
10 -0.66200 -0.66200        True
11 -0.70600 -0.70600        True
12 -0.68700 -0.68700        True
13 -0.68200 -0.68200        True
14 -0.63600 -0.63600        True
15 -0.59900 -0.59900        True
16 -0.57800 -0.57800        True
17 -0.52900 -0.52900        True
18 -0.51900 -0.51900        True
19 -0.45700 -0.45700        True
20 -0.42200 -0.42200        True
21 -0.41900 -0.41900        True
22 -0.39300 -0.39300        True
23 -0.37200 -0.37200        True
24 -0.38200 -0.38200        True
25 -0.37700 -0.37700        True
26 -0.41500 -0.41500        True
27 -0.43000 -0.43000        True
28 -0.43100 -0.43100        True
29 -0.43400 -0.43400        True

raw_data\Womply Revenue - State - Daily.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
17     2020     2020        True
18     2020     2020        True
19     2020     2020        True
20     2020     2020        True
21     2020     2020        True
22     2020     2020        True
23     2020     2020        True
24     2020     2020        True
25     2020     2020        True
26     2020     2020        True
27     2020     2020        True
28     2020     2020        True
29     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
17        5        5        True
18        5        5        True
19        5        5        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        7        7        True
26        7        7        True
27        7        7        True
28        7        7        True
29        8        8        True
    new_col  old_col  difference
0        13       13        True
1        20       20        True
2        27       27        True
3         3        3        True
4        10       10        True
5        17       17        True
6        24       24        True
7         2        2        True
8         9        9        True
9        16       16        True
10       23       23        True
11       30       30        True
12        6        6        True
13       13       13        True
14       20       20        True
15       27       27        True
16        4        4        True
17       11       11        True
18       18       18        True
19       25       25        True
20        1        1        True
21        8        8        True
22       15       15        True
23       22       22        True
24       29       29        True
25        6        6        True
26       13       13        True
27       20       20        True
28       27       27        True
29        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
17        6        6        True
18        6        6        True
19        6        6        True
20        6        6        True
21        6        6        True
22        6        6        True
23        6        6        True
24        6        6        True
25        6        6        True
26        6        6        True
27        6        6        True
28        6        6        True
29        6        6        True
    new_col  old_col  difference
0  -0.01220 -0.01220        True
1   0.02440  0.02440        True
2  -0.01180 -0.01180        True
3   0.02180  0.02180        True
4   0.18900  0.18900        True
5   0.00576  0.00576        True
6   0.00415  0.00415        True
7   0.07880  0.07880        True
8   0.03400  0.03400        True
9  -0.09180 -0.09180        True
10 -0.32000 -0.32000        True
11 -0.39500 -0.39500        True
12 -0.37800 -0.37800        True
13 -0.38700 -0.38700        True
14 -0.30900 -0.30900        True
15 -0.26200 -0.26200        True
16 -0.26400 -0.26400        True
17 -0.21700 -0.21700        True
18 -0.18500 -0.18500        True
19 -0.17500 -0.17500        True
20 -0.14900 -0.14900        True
21 -0.15200 -0.15200        True
22 -0.13900 -0.13900        True
23 -0.13500 -0.13500        True
24 -0.12200 -0.12200        True
25 -0.09370 -0.09370        True
26 -0.10600 -0.10600        True
27 -0.15100 -0.15100        True
28 -0.15400 -0.15400        True
29 -0.15400 -0.15400        True
    new_col  old_col  difference
0  -0.01010 -0.01010        True
1   0.01950  0.01950        True
2  -0.01980 -0.01980        True
3   0.03060  0.03060        True
4   0.21100  0.21100        True
5  -0.00293 -0.00293        True
6  -0.00841 -0.00841        True
7   0.06640  0.06640        True
8   0.02900  0.02900        True
9  -0.12600 -0.12600        True
10 -0.34400 -0.34400        True
11 -0.39000 -0.39000        True
12 -0.37800 -0.37800        True
13 -0.41000 -0.41000        True
14 -0.31900 -0.31900        True
15 -0.27800 -0.27800        True
16 -0.28800 -0.28800        True
17 -0.23700 -0.23700        True
18 -0.20600 -0.20600        True
19 -0.19500 -0.19500        True
20 -0.15600 -0.15600        True
21 -0.17900 -0.17900        True
22 -0.16400 -0.16400        True
23 -0.14900 -0.14900        True
24 -0.14700 -0.14700        True
25 -0.11400 -0.11400        True
26 -0.12500 -0.12500        True
27 -0.17200 -0.17200        True
28 -0.17800 -0.17800        True
29 -0.17600 -0.17600        True
    new_col  old_col  difference
0  -0.01430 -0.01430        True
1   0.02790  0.02790        True
2  -0.00151 -0.00151        True
3   0.03860  0.03860        True
4   0.13000  0.13000        True
5   0.03380  0.03380        True
6   0.04990  0.04990        True
7   0.15100  0.15100        True
8   0.08710  0.08710        True
9  -0.08250 -0.08250        True
10 -0.31100 -0.31100        True
11 -0.47000 -0.47000        True
12 -0.42600 -0.42600        True
13 -0.44600 -0.44600        True
14 -0.32100 -0.32100        True
15 -0.22500 -0.22500        True
16 -0.22700 -0.22700        True
17 -0.18900 -0.18900        True
18 -0.16900 -0.16900        True
19 -0.15100 -0.15100        True
20 -0.14000 -0.14000        True
21 -0.05260 -0.05260        True
22 -0.08520 -0.08520        True
23 -0.08100 -0.08100        True
24 -0.07680 -0.07680        True
25  0.01070  0.01070        True
26 -0.03690 -0.03690        True
27 -0.04400 -0.04400        True
28 -0.11800 -0.11800        True
29 -0.05890 -0.05890        True
    new_col  old_col  difference
0  -0.01400 -0.01400        True
1   0.02870  0.02870        True
2  -0.00422 -0.00422        True
3   0.00613  0.00613        True
4   0.17100  0.17100        True
5   0.01080  0.01080        True
6   0.01110  0.01110        True
7   0.07940  0.07940        True
8   0.02690  0.02690        True
9  -0.04750 -0.04750        True
10 -0.28900 -0.28900        True
11 -0.38700 -0.38700        True
12 -0.37000 -0.37000        True
13 -0.34400 -0.34400        True
14 -0.29500 -0.29500        True
15 -0.25300 -0.25300        True
16 -0.24500 -0.24500        True
17 -0.19900 -0.19900        True
18 -0.16200 -0.16200        True
19 -0.15800 -0.15800        True
20 -0.14800 -0.14800        True
21 -0.14000 -0.14000        True
22 -0.11800 -0.11800        True
23 -0.12700 -0.12700        True
24 -0.10100 -0.10100        True
25 -0.09440 -0.09440        True
26 -0.09840 -0.09840        True
27 -0.14700 -0.14700        True
28 -0.13300 -0.13300        True
29 -0.14800 -0.14800        True
     new_col   old_col  difference
0  -0.009910 -0.009910        True
1   0.019600  0.019600        True
2  -0.005230 -0.005230        True
3   0.027400  0.027400        True
4   0.128000  0.128000        True
5   0.043300  0.043300        True
6   0.000948  0.000948        True
7   0.088300  0.088300        True
8   0.021300  0.021300        True
9  -0.021900 -0.021900        True
10 -0.279000 -0.279000        True
11 -0.430000 -0.430000        True
12 -0.378000 -0.378000        True
13 -0.409000 -0.409000        True
14 -0.301000 -0.301000        True
15 -0.200000 -0.200000        True
16 -0.211000 -0.211000        True
17 -0.194000 -0.194000        True
18 -0.145000 -0.145000        True
19 -0.111000 -0.111000        True
20 -0.139000 -0.139000        True
21 -0.078000 -0.078000        True
22 -0.086400 -0.086400        True
23 -0.015400 -0.015400        True
24 -0.019800 -0.019800        True
25 -0.007890 -0.007890        True
26 -0.033000 -0.033000        True
27 -0.071800 -0.071800        True
28 -0.100000 -0.100000        True
29 -0.093600 -0.093600        True
    new_col  old_col  difference
0   -0.0287  -0.0287        True
1    0.0625   0.0625        True
2   -0.0351  -0.0351        True
3    0.0226   0.0226        True
4    0.1620   0.1620        True
5   -0.0250  -0.0250        True
6    0.0164   0.0164        True
7    0.0117   0.0117        True
8    0.0649   0.0649        True
9   -0.0421  -0.0421        True
10  -0.3030  -0.3030        True
11  -0.4450  -0.4450        True
12  -0.4710  -0.4710        True
13  -0.3940  -0.3940        True
14  -0.3740  -0.3740        True
15  -0.4060  -0.4060        True
16  -0.4730  -0.4730        True
17  -0.3630  -0.3630        True
18  -0.3220  -0.3220        True
19  -0.2080  -0.2080        True
20  -0.2390  -0.2390        True
21  -0.2860  -0.2860        True
22  -0.1700  -0.1700        True
23  -0.2120  -0.2120        True
24  -0.2350  -0.2350        True
25  -0.1980  -0.1980        True
26  -0.1790  -0.1790        True
27  -0.2440  -0.2440        True
28  -0.2450  -0.2450        True
29  -0.2830  -0.2830        True
    new_col  old_col  difference
0  -0.02520 -0.02520        True
1   0.00995  0.00995        True
2   0.00687  0.00687        True
3   0.03100  0.03100        True
4   0.21300  0.21300        True
5   0.01450  0.01450        True
6  -0.01600 -0.01600        True
7   0.05530  0.05530        True
8   0.00666  0.00666        True
9  -0.28000 -0.28000        True
10 -0.66500 -0.66500        True
11 -0.69500 -0.69500        True
12 -0.66600 -0.66600        True
13 -0.70200 -0.70200        True
14 -0.67900 -0.67900        True
15 -0.63800 -0.63800        True
16 -0.61500 -0.61500        True
17 -0.57400 -0.57400        True
18 -0.62300 -0.62300        True
19 -0.58300 -0.58300        True
20 -0.53400 -0.53400        True
21 -0.53700 -0.53700        True
22 -0.48200 -0.48200        True
23 -0.46500 -0.46500        True
24 -0.45800 -0.45800        True
25 -0.43800 -0.43800        True
26 -0.49500 -0.49500        True
27 -0.54000 -0.54000        True
28 -0.50600 -0.50600        True
29 -0.50200 -0.50200        True
raw_data\Zearn - City - Weekly.csv

    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
    new_col  old_col  difference
0        12       12        True
1        19       19        True
2        26       26        True
3         2        2        True
4         9        9        True
5        16       16        True
6        23       23        True
7         1        1        True
8         8        8        True
9        15       15        True
10       22       22        True
11       29       29        True
12        5        5        True
13       12       12        True
14       19       19        True
15       26       26        True
16        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True
16        6        6        True
    new_col  old_col  difference
0  -0.03220 -0.03220        True
1   0.01480  0.01480        True
2  -0.02950 -0.02950        True
3   0.15400  0.15400        True
4   0.16300  0.16300        True
5   0.08610  0.08610        True
6   0.00616  0.00616        True
7   0.16300  0.16300        True
8   0.11600  0.11600        True
9   0.14800  0.14800        True
10 -0.35900 -0.35900        True
11 -0.40000 -0.40000        True
12 -0.39600 -0.39600        True
13 -0.23900 -0.23900        True
14  0.03530  0.03530        True
15  0.13100  0.13100        True
16  0.07700  0.07700        True
    new_col  old_col  difference
0   -0.0792  -0.0792        True
1    0.0368   0.0368        True
2   -0.1130  -0.1130        True
3    0.1910   0.1910        True
4    0.3000   0.3000        True
5    0.1140   0.1140        True
6    0.0305   0.0305        True
7    0.3600   0.3600        True
8    0.3120   0.3120        True
9    0.3230   0.3230        True
10  -0.1260  -0.1260        True
11  -0.1100  -0.1100        True
12  -0.1630  -0.1630        True
13   0.0362   0.0362        True
14   0.4440   0.4440        True
15   0.6510   0.6510        True
16   0.5120   0.5120        True
raw_data\Zearn - County - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
    new_col  old_col  difference
0        12       12        True
1        19       19        True
2        26       26        True
3         2        2        True
4         9        9        True
5        16       16        True
6        23       23        True
7         1        1        True
8         8        8        True
9        15       15        True
10       22       22        True
11       29       29        True
12        5        5        True
13       12       12        True
14       19       19        True
15       26       26        True
16        3        3        True
    new_col  old_col  difference
0      6073     6073        True
1      6073     6073        True
2      6073     6073        True
3      6073     6073        True
4      6073     6073        True
5      6073     6073        True
6      6073     6073        True
7      6073     6073        True
8      6073     6073        True
9      6073     6073        True
10     6073     6073        True
11     6073     6073        True
12     6073     6073        True
13     6073     6073        True
14     6073     6073        True
15     6073     6073        True
16     6073     6073        True
    new_col  old_col  difference
0  -0.03220 -0.03220        True
1   0.01480  0.01480        True
2  -0.02950 -0.02950        True
3   0.15400  0.15400        True
4   0.16300  0.16300        True
5   0.08610  0.08610        True
6   0.00616  0.00616        True
7   0.16300  0.16300        True
8   0.11600  0.11600        True
9   0.14800  0.14800        True
10 -0.35900 -0.35900        True
11 -0.40000 -0.40000        True
12 -0.39600 -0.39600        True
13 -0.23900 -0.23900        True
14  0.03530  0.03530        True
15  0.13100  0.13100        True
16  0.07700  0.07700        True
    new_col  old_col  difference
0   -0.0792  -0.0792        True
1    0.0368   0.0368        True
2   -0.1130  -0.1130        True
3    0.1910   0.1910        True
4    0.3000   0.3000        True
5    0.1140   0.1140        True
6    0.0305   0.0305        True
7    0.3600   0.3600        True
8    0.3120   0.3120        True
9    0.3230   0.3230        True
10  -0.1260  -0.1260        True
11  -0.1100  -0.1100        True
12  -0.1630  -0.1630        True
13   0.0362   0.0362        True
14   0.4440   0.4440        True
15   0.6510   0.6510        True
16   0.5120   0.5120        True
    new_col  old_col  difference
0         0        0        True
1         0        0        True
2         0        0        True
3         0        0        True
4         0        0        True
5         0        0        True
6         0        0        True
7         0        0        True
8         0        0        True
9         0        0        True
10        0        0        True
11        0        0        True
12        0        0        True
13        0        0        True
14        0        0        True
15        0        0        True
16        0        0        True
raw_data\Zearn - National - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
    new_col  old_col  difference
0        12       12        True
1        19       19        True
2        26       26        True
3         2        2        True
4         9        9        True
5        16       16        True
6        23       23        True
7         1        1        True
8         8        8        True
9        15       15        True
10       22       22        True
11       29       29        True
12        5        5        True
13       12       12        True
14       19       19        True
15       26       26        True
16        3        3        True
    new_col  old_col  difference
0   0.02510  0.02510        True
1   0.02060  0.02060        True
2  -0.03590 -0.03590        True
3   0.03730  0.03730        True
4   0.02650  0.02650        True
5  -0.00646 -0.00646        True
6  -0.06360 -0.06360        True
7   0.01590  0.01590        True
8   0.02690  0.02690        True
9  -0.01090 -0.01090        True
10 -0.47100 -0.47100        True
11 -0.43600 -0.43600        True
12 -0.34900 -0.34900        True
13 -0.34700 -0.34700        True
14 -0.28700 -0.28700        True
15 -0.25500 -0.25500        True
16 -0.30400 -0.30400        True
    new_col  old_col  difference
0   0.06320  0.06320        True
1   0.00716  0.00716        True
2  -0.12400 -0.12400        True
3   0.08790  0.08790        True
4   0.10800  0.10800        True
5   0.02590  0.02590        True
6  -0.05330 -0.05330        True
7   0.12400  0.12400        True
8   0.15900  0.15900        True
9   0.08890  0.08890        True
10 -0.29100 -0.29100        True
11 -0.18100 -0.18100        True
12 -0.07080 -0.07080        True
13 -0.08140 -0.08140        True
14  0.01530  0.01530        True
15  0.07300  0.07300        True
16 -0.03350 -0.03350        True
    new_col  old_col  difference
0    0.0298   0.0298        True
1    0.0126   0.0126        True
2   -0.0348  -0.0348        True
3    0.0369   0.0369        True
4    0.0256   0.0256        True
5   -0.0211  -0.0211        True
6   -0.0965  -0.0965        True
7    0.0336   0.0336        True
8    0.0367   0.0367        True
9    0.0537   0.0537        True
10  -0.2120  -0.2120        True
11  -0.1290  -0.1290        True
12  -0.0340  -0.0340        True
13  -0.0336  -0.0336        True
14   0.0541   0.0541        True
15   0.0979   0.0979        True
16   0.0449   0.0449        True
    new_col  old_col  difference
0   0.07890  0.07890        True
1   0.00123  0.00123        True
2  -0.11700 -0.11700        True
3   0.08030  0.08030        True
4   0.10200  0.10200        True
5  -0.00821 -0.00821        True
6  -0.09970 -0.09970        True
7   0.13600  0.13600        True
8   0.17600  0.17600        True
9   0.18700  0.18700        True
10  0.13800  0.13800        True
11  0.29100  0.29100        True
12  0.37900  0.37900        True
13  0.33200  0.33200        True
14  0.47900  0.47900        True
15  0.55600  0.55600        True
16  0.45400  0.45400        True
    new_col  old_col  difference
0   0.02820  0.02820        True
1   0.03260  0.03260        True
2  -0.04040 -0.04040        True
3   0.03570  0.03570        True
4   0.02030  0.02030        True
5   0.00951  0.00951        True
6  -0.04910 -0.04910        True
7   0.01060  0.01060        True
8   0.03540  0.03540        True
9  -0.03610 -0.03610        True
10 -0.61700 -0.61700        True
11 -0.59900 -0.59900        True
12 -0.52500 -0.52500        True
13 -0.54100 -0.54100        True
14 -0.51100 -0.51100        True
15 -0.48500 -0.48500        True
16 -0.52400 -0.52400        True
    new_col  old_col  difference
0   0.06450  0.06450        True
1   0.00731  0.00731        True
2  -0.13400 -0.13400        True
3   0.09530  0.09530        True
4   0.10200  0.10200        True
5   0.05530  0.05530        True
6  -0.04600 -0.04600        True
7   0.11600  0.11600        True
8   0.16300  0.16300        True
9   0.04630  0.04630        True
10 -0.51500 -0.51500        True
11 -0.43300 -0.43300        True
12 -0.34300 -0.34300        True
13 -0.35800 -0.35800        True
14 -0.30500 -0.30500        True
15 -0.26600 -0.26600        True
16 -0.36000 -0.36000        True
    new_col  old_col  difference
0    0.0217   0.0217        True
1    0.0167   0.0167        True
2   -0.0337  -0.0337        True
3    0.0384   0.0384        True
4    0.0304   0.0304        True
5   -0.0103  -0.0103        True
6   -0.0600  -0.0600        True
7    0.0125   0.0125        True
8    0.0185   0.0185        True
9   -0.0196  -0.0196        True
10  -0.4810  -0.4810        True
11  -0.4540  -0.4540        True
12  -0.3610  -0.3610        True
13  -0.3480  -0.3480        True
14  -0.2820  -0.2820        True
15  -0.2500  -0.2500        True
16  -0.3000  -0.3000        True
    new_col  old_col  difference
0    0.0568   0.0568        True
1    0.0092   0.0092        True
2   -0.1210  -0.1210        True
3    0.0864   0.0864        True
4    0.1140   0.1140        True
5    0.0214   0.0214        True
6   -0.0405  -0.0405        True
7    0.1230   0.1230        True
8    0.1510   0.1510        True
9    0.0781   0.0781        True
10  -0.3160  -0.3160        True
11  -0.2060  -0.2060        True
12  -0.0766  -0.0766        True
13  -0.0715  -0.0715        True
14   0.0320   0.0320        True
15   0.0958   0.0958        True
16  -0.0069  -0.0069        True
raw_data\Zearn - State - Weekly.csv
    new_col  old_col  difference
0      2020     2020        True
1      2020     2020        True
2      2020     2020        True
3      2020     2020        True
4      2020     2020        True
5      2020     2020        True
6      2020     2020        True
7      2020     2020        True
8      2020     2020        True
9      2020     2020        True
10     2020     2020        True
11     2020     2020        True
12     2020     2020        True
13     2020     2020        True
14     2020     2020        True
15     2020     2020        True
16     2020     2020        True
    new_col  old_col  difference
0         1        1        True
1         1        1        True
2         1        1        True
3         2        2        True
4         2        2        True
5         2        2        True
6         2        2        True
7         3        3        True
8         3        3        True
9         3        3        True
10        3        3        True
11        3        3        True
12        4        4        True
13        4        4        True
14        4        4        True
15        4        4        True
16        5        5        True
    new_col  old_col  difference
0        12       12        True
1        19       19        True
2        26       26        True
3         2        2        True
4         9        9        True
5        16       16        True
6        23       23        True
7         1        1        True
8         8        8        True
9        15       15        True
10       22       22        True
11       29       29        True
12        5        5        True
13       12       12        True
14       19       19        True
15       26       26        True
16        3        3        True
    new_col  old_col  difference
0         6        6        True
1         6        6        True
2         6        6        True
3         6        6        True
4         6        6        True
5         6        6        True
6         6        6        True
7         6        6        True
8         6        6        True
9         6        6        True
10        6        6        True
11        6        6        True
12        6        6        True
13        6        6        True
14        6        6        True
15        6        6        True

16        6        6        True
    new_col  old_col  difference
0   0.01900  0.01900        True
1   0.07050  0.07050        True
2   0.01700  0.01700        True
3   0.11000  0.11000        True
4   0.12300  0.12300        True
5   0.03380  0.03380        True
6  -0.03440 -0.03440        True
7   0.12900  0.12900        True
8   0.11300  0.11300        True
9   0.14600  0.14600        True
10 -0.32900 -0.32900        True
11 -0.34700 -0.34700        True
12 -0.26900 -0.26900        True
13 -0.24200 -0.24200        True
14 -0.08990 -0.08990        True
15 -0.00435 -0.00435        True
16 -0.05020 -0.05020        True
    new_col  old_col  difference
0    0.0391   0.0391        True
1    0.0477   0.0477        True
2   -0.0742  -0.0742        True
3    0.1600   0.1600        True
4    0.2230   0.2230        True
5    0.0277   0.0277        True
6   -0.0538  -0.0538        True
7    0.2420   0.2420        True
8    0.2540   0.2540        True
9    0.2890   0.2890        True
10  -0.0636  -0.0636        True
11   0.0175   0.0175        True
12   0.0768   0.0768        True
13   0.1040   0.1040        True
14   0.3350   0.3350        True
15   0.4960   0.4960        True
16   0.4160   0.4160        True
    new_col  old_col  difference
0   0.02650  0.02650        True
1   0.05490  0.05490        True
2  -0.01190 -0.01190        True
3   0.06290  0.06290        True
4   0.07660  0.07660        True
5   0.00692  0.00692        True
6  -0.08810 -0.08810        True
7   0.10100  0.10100        True
8   0.09010  0.09010        True
9   0.12300  0.12300        True
10 -0.17200 -0.17200        True
11 -0.13200 -0.13200        True
12 -0.07220 -0.07220        True
13 -0.10900 -0.10900        True
14  0.08930  0.08930        True
15  0.16300  0.16300        True
16  0.12200  0.12200        True
    new_col  old_col  difference
0   0.05550  0.05550        True
1   0.04460  0.04460        True
2  -0.10400 -0.10400        True
3   0.12000  0.12000        True
4   0.16400  0.16400        True
5   0.00406  0.00406        True
6  -0.10300 -0.10300        True
7   0.20000  0.20000        True
8   0.23200  0.23200        True
9   0.27400  0.27400        True
10  0.20700  0.20700        True
11  0.32500  0.32500        True
12  0.32900  0.32900        True
13  0.24200  0.24200        True
14  0.56500  0.56500        True
15  0.71600  0.71600        True
16  0.64600  0.64600        True
    new_col  old_col  difference
0    0.0233   0.0233        True
1    0.1600   0.1600        True
2    0.1110   0.1110        True
3    0.2140   0.2140        True
4    0.2270   0.2270        True
5    0.1220   0.1220        True
6    0.0659   0.0659        True
7    0.2330   0.2330        True
8    0.2400   0.2400        True
9    0.2640   0.2640        True
10  -0.4830  -0.4830        True
11  -0.5010  -0.5010        True
12  -0.4260  -0.4260        True
13  -0.4510  -0.4510        True
14  -0.3010  -0.3010        True
15  -0.2040  -0.2040        True
16  -0.2460  -0.2460        True
    new_col  old_col  difference
0    0.0166   0.0166        True
1    0.0586   0.0586        True
2    0.0272   0.0272        True
3    0.2790   0.2790        True
4    0.3650   0.3650        True
5    0.1640   0.1640        True
6    0.0723   0.0723        True
7    0.4340   0.4340        True
8    0.4420   0.4420        True
9    0.4420   0.4420        True
10  -0.2270  -0.2270        True
11  -0.1480  -0.1480        True
12  -0.1050  -0.1050        True
13  -0.0818  -0.0818        True
14   0.1170   0.1170        True
15   0.2550   0.2550        True
16   0.1240   0.1240        True
    new_col  old_col  difference
0    0.0130   0.0130        True
1    0.0561   0.0561        True
2    0.0099   0.0099        True
3    0.1120   0.1120        True
4    0.1240   0.1240        True
5    0.0271   0.0271        True
6   -0.0269  -0.0269        True
7    0.1190   0.1190        True
8    0.0941   0.0941        True
9    0.1280   0.1280        True
10  -0.3890  -0.3890        True
11  -0.4440  -0.4440        True
12  -0.3540  -0.3540        True
13  -0.2710  -0.2710        True
14  -0.1480  -0.1480        True
15  -0.0579  -0.0579        True
16  -0.1090  -0.1090        True
    new_col  old_col  difference
0   0.03070  0.03070        True
1   0.04670  0.04670        True
2  -0.08280 -0.08280        True
3   0.15300  0.15300        True
4   0.22200  0.22200        True
5   0.00567  0.00567        True
6  -0.05610 -0.05610        True
7   0.21700  0.21700        True
8   0.21700  0.21700        True
9   0.25700  0.25700        True
10 -0.19400 -0.19400        True
11 -0.13700 -0.13700        True
12 -0.03670 -0.03670        True
13  0.06610  0.06610        True
14  0.24700  0.24700        True
15  0.42100  0.42100        True
16  0.35300  0.35300        True
24

#### -- Everything under this cell is for visualizing the data --

In [3]:
#Affinity  

# county
path_1 = os.path.join('raw_data', 'Affinity - City - Daily.csv')
affinity_county = pd.read_csv(path_1, low_memory = False)
affinity_county = affinity_county[affinity_county['cityid'] == 6]
affinity_county.tail(16)

# state
# path_2 = os.path.join('raw_data', 'Affinity - State - Weekly.csv')
# affinity_state = pd.read_csv(path_2)
# affinity_state[affinity_state['statefips'] == 6]['spend_all_inchigh'].astype(float)

# # national 
# path_3 = os.path.join('raw_data', 'Affinity - National - Weekly.csv')
# affinity_national = pd.read_csv(path_3)
# affinity_national

,year,month,day,cityid,spend_acf,spend_aer,spend_all,spend_apg,spend_grf,spend_hcs,spend_tws
10055,2020,7,25,6,-.431,-.645,-.143,-.205,.13,-.179,-.567
10105,2020,7,26,6,-.431,-.634,-.145,-.199,.123,-.194,-.566
10155,2020,7,27,6,-.425,-.636,-.146,-.201,.129,-.191,-.565
10205,2020,7,28,6,-.419,-.638,-.146,-.203,.134,-.187,-.564
10255,2020,7,29,6,-.414,-.64,-.147,-.205,.14,-.184,-.563
10305,2020,7,30,6,-.408,-.643,-.147,-.207,.146,-.18,-.562
10355,2020,7,31,6,-.402,-.645,-.148,-.208,.152,-.177,-.561
10405,2020,8,1,6,-.396,-.647,-.148,-.21,.157,-.173,-.56
10455,2020,8,2,6,-.391,-.649,-.149,-.212,.163,-.17,-.559
10505,2020,8,3,6,-.389,-.638,-.145,-.211,.164,-.165,-.552
10555,2020,8,4,6,-.388,-.627,-.142,-.21,.166,-.161,-.545
10605,2020,8,5,6,-.386,-.615,-.139,-.209,.167,-.157,-.538
10655,2020,8,6,6,-.384,-.604,-.135,-.208,.168,-.153,-.53
10705,2020,8,7,6,-.383,-.592,-.132,-.207,.169,-.149,-.523
10755,2020,8,8,6,-.381,-.581,-.128,-.207,.171,-.145,-.516
10805,2020,8,9,6,-.38,-.57,-.125,-.206,.172,-.141,-.509

In [9]:
path_1 = os.path.join('temp', 'Affinity - State - Daily.csv')
affinity_county = pd.read_csv(path_1, low_memory = False)
affinity_county.columns

Index(['year', 'month', 'day', 'statefips', 'spend_acf', 'spend_aer',
       'spend_all', 'spend_apg', 'spend_grf', 'spend_hcs', 'spend_tws',
       'spend_all_inchigh', 'spend_all_inclow', 'spend_all_incmiddle'],
      dtype='object')

In [11]:
affinity_state[affinity_state['statefips'] == 6]['spend_all_inclow']

4        -.0104
55        .0195
106     .000637
157     -.00947
208       .0504
259      .00883
310       .0105
361     -.00599
412      .00659
463       -.047
514       -.183
565       -.345
616       -.318
667       -.381
718        -.34
769       -.295
820       -.253
871       -.242
922       -.241
973        -.23
1024       -.24
1075      -.187
1126      -.196
1177      -.123
1228       -.16
1279      -.112
1330      -.145
Name: spend_all_inclow, dtype: object

In [303]:
# Burning Glass

# state
path2_2 = os.path.join('raw_data', 'Burning Glass - State - Weekly.csv')
b_glass_state = pd.read_csv(path2_2)
b_glass_state = b_glass_state[b_glass_state['statefips'] == 6]
b_glass_state = b_glass_state.rename(columns={"day_endofweek": "day"})
b_glass_state['date'] = pd.to_datetime(b_glass_state[['year','month','day']])
b_glass_state = b_glass_state.sort_values(by=['date'])
b_glass_state = b_glass_state.rename(columns={"day": "day_endofweek"})
b_glass_state = b_glass_state.drop(['date'], axis = 1)
b_glass_state.head()

# # national 
# path2_3 = os.path.join('raw_data', 'Burning Glass - National - Weekly.csv')
# b_glass_national = pd.read_csv(path2_3)
# b_glass_national.head()

,year,month,day_endofweek,statefips,bg_posts,bg_posts_ss30,bg_posts_ss55,bg_posts_ss60,bg_posts_ss65,bg_posts_ss70,bg_posts_jz1,bg_posts_jz2,bg_posts_jz3,bg_posts_jz4,bg_posts_jz5,bg_posts_jzgrp12,bg_posts_jzgrp345
136,2020,1,10,6,-0.0934,-0.1590,-0.0742,-0.205,-0.0998,-0.1210,-0.0679,-0.0790,-0.0829,-0.1240,-0.0663,-0.0780,-0.102
126,2020,1,17,6,0.1470,0.1140,0.0816,0.197,0.2260,0.3350,0.3990,0.1840,0.1800,0.0741,0.2000,0.2010,0.128
121,2020,1,24,6,-0.1840,-0.0628,-0.1810,-0.252,-0.2620,-0.2350,-0.2830,-0.1800,-0.1860,-0.1670,-0.2630,-0.1890,-0.187
132,2020,1,31,6,0.1300,0.1080,0.1740,0.260,0.1360,0.0208,-0.0473,0.0755,0.0892,0.2160,0.1290,0.0654,0.161
115,2020,2,7,6,-0.1150,-0.1540,-0.0475,-0.175,-0.0954,-0.0894,-0.1110,-0.1010,-0.1120,-0.1370,-0.1010,-0.1010,-0.123

In [12]:
# UI Claims

# county
# path7_1  = os.path.join('raw_data', 'UI Claims - City - Weekly.csv')
# ui = pd.read_csv(path7_1)
# ui[(ui['cityid'] == 6)].tail() #& (ui['month'] == 2)].head()

# # state
path7_2  = os.path.join('raw_data', 'UI Claims - State - Weekly.csv')
ui = pd.read_csv(path7_2)
ui[(ui['statefips'] == 6)].tail()

# # national
# path7_3  = os.path.join('raw_data', 'UI Claims - National - Weekly.csv')
# ui = pd.read_csv(path7_3)
# ui.head()

,year,month,day_endofweek,statefips,initial_claims,initial_claims_rate,total_claims,total_claims_rate
1381,2020,7,11,6,284914,1.47,3231721,16.6
1432,2020,7,18,6,289594,1.49,2994498,15.4
1483,2020,7,25,6,244653,1.26,3385272,17.4
1534,2020,8,1,6,222043,1.14,3011525,15.5
1585,2020,8,8,6,202509,1.04,3163697,16.3

In [29]:
import numpy as np

In [50]:
# Womply Merchants

# county
path8_1  = os.path.join('raw_data', 'Womply Merchants - City - Daily.csv')
womply_merchants = pd.read_csv(path8_1)
womply_merchants = womply_merchants[(womply_merchants['cityid'] == 6)]
womply_merchants = womply_merchants.rename(columns={"day_endofweek": "day"})
womply_merchants['date'] = pd.to_datetime(womply_merchants[['year','month','day']])
womply_merchants = womply_merchants.sort_values(by=['date'])
womply_merchants.head(11)[['date','merchants_ss60']]

          date merchants_ss60
5   2020-01-10          .0276
57  2020-01-11          .0319
109 2020-01-12          .0311
161 2020-01-13          .0342
213 2020-01-14          .0326
265 2020-01-15          .0321
317 2020-01-16           .018
369 2020-01-17          .0154
421 2020-01-18         .00807
473 2020-01-19          .0063
525 2020-01-20        -.00797

In [51]:
agg_dict = {'year': 'last',
          'month': 'last',
          'day': 'last',
          'countyfips': 'last',
          'merchants_all': 'last',
          'date': 'last'}

# # resampled dataframe
# # 'W' means weekly aggregation
# r_df = df.resample('W').agg(agg_dict)

womply_merchants = womply_merchants.resample('W-Mon', on = 'date').agg(agg_dict)
womply_merchants = womply_merchants[womply_merchants['date'] <= ('2020-07-13 00:00:00')].reset_index(drop=True)
len(womply_merchants)

SpecificationError: nested renamer is not supported

In [53]:
# Womply Revenue

# county
path9_1  = os.path.join('raw_data', 'Womply Merchants - County - Daily.csv')
womply_revenue = pd.read_csv(path9_1)
womply_revenue[(womply_revenue['countyfips'] == 6073) & (womply_revenue['month'] == 2)].head()

       year  month  day  countyfips  merchants_all
46739  2020      2    1        6073       -0.00605
48857  2020      2    2        6073       -0.00568
50974  2020      2    3        6073       -0.00144
53092  2020      2    4        6073        0.00119
55210  2020      2    5        6073        0.00232

In [126]:
# Zearn

path10_1  = os.path.join('raw_data', 'Zearn - County - Weekly.csv')
zearn = pd.read_csv(path10_1)
zearn = zearn[(zearn['countyfips'] == 6073)]
zearn = zearn.rename(columns={"day_endofweek": "day"})
zearn['date'] = pd.to_datetime(zearn[['year','month','day']])
zearn = zearn.sort_values(by=['date'])
zearn = zearn.rename(columns={"day": "day_endofweek"})
zearn = zearn.drop(['date'], axis = 1)
zearn.head()

,year,month,day_endofweek,countyfips,engagement,badges,imputed_from_cz
2535,2020,1,12,6073,-.0322,-.0792,0
2541,2020,1,19,6073,.0148,.0368,0
2542,2020,1,26,6073,-.0295,-.113,0
2549,2020,2,2,6073,.154,.191,0
2539,2020,2,9,6073,.163,.3,0

In [46]:
d = {'col1': [1, 2,3,4], 'col2': [9,10,11,12], 'col3': [5,6,7,8]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     9     5
1     2    10     6
2     3    11     7
3     4    12     8

In [66]:
d2 = {'col1': [1, 2,3,3], 'col2': [9,10,11,12], 'col3': [5,6,7,8]}
df2 = pd.DataFrame(data=d2)
df2

   col1  col2  col3
0     1     9     5
1     2    10     6
2     3    11     7
3     3    12     8

In [67]:
print(df.loc[~(df['col1'] == d2['col1'])])
print(df2.loc[~(df2['col1'] == d['col1'])])

   col1  col2  col3
3     4    12     8
   col1  col2  col3
3     3    12     8

In [68]:
if False in list(df.columns == df2.columns):
    print(False)
else:
    print(True)

True

In [69]:
list(df.columns == df2.columns)

[True, True, True]

In [113]:
df3 = pd.DataFrame({'col1': df.iloc[:3]['col2'], 'col2': [10, 9, 10]})
df3['h'] = (df3['col1'] - df3['col2'] < 1) & (df3['col1'] - df3['col2'] > -1)
df3

   col1  col2      h
0     9    10  False
1    10     9  False
2    11    10  False

In [79]:
 list(df.iloc[:3]['col2'])

[9, 10, 11]

In [123]:
'C:/Users/spate/Downloads/Track the Recovery/temp/{}'.format('hi')

'C:/Users/spate/Downloads/Track the Recovery/temp/hi'